{"openapi":"3.0.1","info":{"title":"Lendismart API","version":"v2.0.0"},"servers":[{"url":"https://api-sandbox.lendismart.com/api","description":"Generated server url"}],"security":[{"api_key":[]}],"paths":{"/v2/users/{id}":{"get":{"tags":["User"],"summary":"Retrieves user information","operationId":"getUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"User recovered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"id":"24a4c32f-cd3c-450d-85ce-292c94214218","username":"maria","state":"ACTIVE","firstName":"Maria","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"maria@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}},"put":{"tags":["User"],"summary":"Updates a user","operationId":"updateUser","parameters":[{"name":"id","in":"path","description":"The id of the user","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The payload of the user that is about to be updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"username":"maria","state":"ACTIVE","firstName":"Maria","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"maria@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"The user has been successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"id":"24a4c32f-cd3c-450d-85ce-292c94214218","username":"maria","state":"ACTIVE","firstName":"Maria","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"maria@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}},"patch":{"tags":["User"],"summary":"Patches a user","operationId":"patchUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Payload including the fields that we want to patch from the User","content":{"application/merge-patch+json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"surname1":"Surname1","surname2":"Surname2"}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"The user has been successfully patched","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"username":"maria","state":"ACTIVE","firstName":"Maria","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"maria@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}}},"/v2/applications/{id}":{"get":{"tags":["Application"],"summary":"Gets an existing application","operationId":"getApplication","parameters":[{"name":"id","in":"path","description":"The id of the application, it can be a uuid or a numeric value. If the passed value is neither an uuid nor a numeric (integer) value an error will be thrown.","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}},"200":{"description":"Application recovered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"},"example":{"applicants":[{"role":"MAIN_APPLICANT","docIdType":"NATIONAL_ID","docIdType2":"EU_RESIDENCE_CARD","docIdNumber":"50726711G","docIdNumber2":"297708325","title":"SR_SRA","firstName":"Ana","surname1":"Martínez","surname2":"Sánchez","birthDate":"1990-06-19","nationality":"SPAIN","nationality2":"PORTUGAL","accountNumber":"ES7420589288659524800210","email":"ana_sanchez@gmail.com","socialSecurityNumber":"000-00-0000","phoneType1":"LANDLINE","phone1":"976886521","phoneType2":"MOBILE","phone2":"678321666","address":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"paymentMethod":"CCC","accountCreationDate":"2020-05-27T10:14:05.233Z","docIdExpirationDate":"2020-05-27T10:14:05.233Z","drivingLicenceIssuanceDate":"2018-05-27T10:14:05.233Z","nativeAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"gender":"FEMALE","maritalStatus":"SINGLE","dependent":0,"housingTenureType":"OWN_MORTGAGE","housingTenureStartDate":"2020-05-27T10:14:05.233Z","housingExpenses":"250.00","otherExpenses":"0.00","occupationType":"PUBLIC_EMPLOYEE","occupation":"PERMANENT_CIVIL_SERVANT","profession":"ATTORNEY","jobTitle":"SENIOR_MANAGER","industryType":"AGRICULTURE_LIVESTOCK_FISHING","industry":"AGRICULTURE","contractStartDate":"2020-05-27T10:14:05.233Z","contractEndDate":"2020-05-27T10:14:05.233Z","personType":"NATURAL","companyIdNumber":"Q2812599E","companyName":"Company S.L","companyPhone":"976555222","companyAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"monthlyIncome":"1800","incomeFrequency":12,"consentGroup":true}],"merchant":{"code":"MERC_12","user":"user@corporation.com"},"order":{"goodsType":"HEALTHCARE","serviceDuration":"ZERO_TO_THREE_MONTHS","reference":"AB33123D","purchaseAmount":"1500.00"},"loanDetails":{"financingPromotion":0,"openingFeePct":0,"term":12,"productType":"INTEREST_BEARING","gracePeriod":1,"monthlyDueDate":1,"feePaymentType":"UPFRONT","insurance":true,"noAccount":false,"lenderCustomer":"ABANCA","applicantType":"PERSONAL","maxMerchantCost":0},"id":"3fa85f64-5717-4562-b3fc-2c963f66afa6","readableId":12312837,"creationDate":"2020-05-27T10:39:49.786Z","createdViaApi":true,"state":"PENDING_SUBMISSION","selectedOffer":{"id":"3fa85f64-5717-4562-b3fc-2c963f66afa6","lenderApplicationId1":"134KJKJFADF43234_3","lenderSignatureId":"134KJ223KJFADF43234_3","lender":"ABANCA","submissionOrder":3,"signatureMethodUsed":"SIGNED_BIOMETRIC","signatureDate":"2020-05-27T11:11:27.697Z","preapprovalDate":"2020-05-27T11:11:27.697Z","approvalDate":"2020-05-27T11:11:27.697Z","payOutDate":"2020-05-27T11:11:27.698Z","docsSubmitted":true,"firstDocsSubmissionDate":"2020-05-27T11:11:27.698Z","loanAmount":"1500.00","monthlyPayment":125,"productCode":"PD_4234","term":12,"productType":"INTEREST_BEARING","openingFeePct":0,"nir":0.11,"feePaymentType":"UPFRONT","openingFeeUpfrontPayment":0,"gracePeriod":0,"insurance":true,"insurancePaymentType":"UPFRONT","insuranceUpfrontPayment":0,"merchantCost":0,"downPayment":25,"downPaymentStatus":"REFUNDED","downPaymentTimestamp":"2020-06-27T11:11:27.698Z","selected":true}}}}}}},"put":{"tags":["Application"],"summary":"Updates an application","operationId":"updateApplication","parameters":[{"name":"id","in":"path","description":"The id of the application, it can be a uuid or a numeric value. If the passed value is neither an uuid nor a numeric (integer) value an error will be thrown.","required":true,"schema":{"type":"string"}},{"name":"validate","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"requestBody":{"description":"The payload of the application that is about to be updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"},"example":{"applicants":[{"role":"MAIN_APPLICANT","docIdType":"NATIONAL_ID","docIdType2":"EU_RESIDENCE_CARD","docIdNumber":"50726711G","docIdNumber2":"297708325","title":"SR_SRA","firstName":"Ana","surname1":"Martínez","surname2":"Sánchez","birthDate":"1990-06-19","nationality":"SPAIN","nationality2":"PORTUGAL","accountNumber":"ES7420589288659524800210","email":"ana_sanchez@gmail.com","socialSecurityNumber":"000-00-0000","phoneType1":"LANDLINE","phone1":"976886521","phoneType2":"MOBILE","phone2":"678321666","address":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"paymentMethod":"CCC","accountCreationDate":"2020-05-27T10:14:05.233Z","docIdExpirationDate":"2020-05-27T10:14:05.233Z","drivingLicenceIssuanceDate":"2018-05-27T10:14:05.233Z","nativeAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"gender":"FEMALE","maritalStatus":"SINGLE","dependent":0,"housingTenureType":"OWN_MORTGAGE","housingTenureStartDate":"2020-05-27T10:14:05.233Z","housingExpenses":"250.00","otherExpenses":"0.00","occupationType":"PUBLIC_EMPLOYEE","occupation":"PERMANENT_CIVIL_SERVANT","profession":"ATTORNEY","jobTitle":"SENIOR_MANAGER","industryType":"AGRICULTURE_LIVESTOCK_FISHING","industry":"AGRICULTURE","contractStartDate":"2020-05-27T10:14:05.233Z","contractEndDate":"2020-05-27T10:14:05.233Z","personType":"NATURAL","companyIdNumber":"Q2812599E","companyName":"Company S.L","companyPhone":"976555222","companyAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"monthlyIncome":"1800","incomeFrequency":12,"consentGroup":true}],"merchant":{"code":"MERC_12","user":"user@corporation.com"},"order":{"goodsType":"HEALTHCARE","serviceDuration":"ZERO_TO_THREE_MONTHS","reference":"AB33123D","purchaseAmount":"1500.00"},"loanDetails":{"requestedAmount":"1500.00","financingPromotion":0,"openingFeePct":0,"term":12,"productType":"INTEREST_BEARING","gracePeriod":1,"monthlyDueDate":1,"feePaymentType":"UPFRONT","insurance":true,"noAccount":false,"lenderCustomer":"ABANCA","applicantType":"PERSONAL","maxMerchantCost":0}}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"The application has been successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"},"example":"{\n  \"applicants\": [\n    {\n      \"role\": \"MAIN_APPLICANT\",\n      \"docIdType\": \"NATIONAL_ID\",\n      \"docIdType2\": \"EU_RESIDENCE_CARD\",\n      \"docIdNumber\": \"50726711G\",\n      \"docIdNumber2\": \"297708325\",\n      \"title\": \"SR_SRA\",\n      \"firstName\": \"Ana\",\n      \"surname1\": \"Martínez\",\n      \"surname2\": \"Sánchez\",\n      \"birthDate\": \"1990-06-19\",\n      \"nationality\": \"SPAIN\",\n      \"nationality2\": \"PORTUGAL\",\n      \"accountNumber\": \"ES7420589288659524800210\",\n      \"email\": \"ana_sanchez@gmail.com\",\n      \"socialSecurityNumber\": \"000-00-0000\",\n      \"phoneType1\": \"LANDLINE\",\n      \"phone1\": \"976886521\",\n      \"phoneType2\": \"MOBILE\",\n      \"phone2\": \"678321666\",\n      \"address\": {\n        \"streetType\": \"CALLE\",\n        \"street\": \"Lagasca\",\n        \"number\": 31,\n        \"block\": \"2\",\n        \"stairs\": \"2\",\n        \"floor\": 3,\n        \"door\": \"A\",\n        \"complement\": \"DUPL\",\n        \"postalCode\": \"28001\",\n        \"province\": \"MADRID\",\n        \"country\": \"SPAIN\"\n      },\n      \"paymentMethod\": \"CCC\",\n      \"accountCreationDate\": \"2020-05-27T10:14:05.233Z\",\n      \"docIdExpirationDate\": \"2020-05-27T10:14:05.233Z\",\n      \"drivingLicenceIssuanceDate\": \"2018-05-27T10:14:05.233Z\",\n      \"nativeAddress\": {\n        \"streetType\": \"CALLE\",\n        \"street\": \"Lagasca\",\n        \"number\": 31,\n        \"block\": \"2\",\n        \"stairs\": \"2\",\n        \"floor\": 3,\n        \"door\": \"A\",\n        \"complement\": \"DUPL\",\n        \"postalCode\": \"28001\",\n        \"province\": \"MADRID\",\n        \"country\": \"SPAIN\"\n      },\n      \"gender\": \"FEMALE\",\n      \"maritalStatus\": \"SINGLE\",\n      \"dependent\": 0,\n      \"housingTenureType\": \"OWN_MORTGAGE\",\n      \"housingTenureStartDate\": \"2020-05-27T10:14:05.233Z\",\n      \"housingExpenses\": \"250.00\",\n      \"otherExpenses\": \"0.00\",\n      \"occupationType\": \"PUBLIC_EMPLOYEE\",\n      \"occupation\": \"PERMANENT_CIVIL_SERVANT\",\n      \"profession\": \"ATTORNEY\",\n      \"jobTitle\": \"SENIOR_MANAGER\",\n      \"industryType\": \"AGRICULTURE_LIVESTOCK_FISHING\",\n      \"industry\": \"AGRICULTURE\",\n      \"contractStartDate\": \"2020-05-27T10:14:05.233Z\",\n      \"contractEndDate\": \"2020-05-27T10:14:05.233Z\",\n      \"personType\": \"NATURAL\",\n      \"companyIdNumber\": \"Q2812599E\",\n      \"companyName\": \"Company S.L\",\n      \"companyPhone\": \"976555222\",\n      \"companyAddress\": {\n        \"streetType\": \"CALLE\",\n        \"street\": \"Lagasca\",\n        \"number\": 31,\n        \"block\": \"2\",\n        \"stairs\": \"2\",\n        \"floor\": 3,\n        \"door\": \"A\",\n        \"complement\": \"DUPL\",\n        \"postalCode\": \"28001\",\n        \"province\": \"MADRID\",\n        \"country\": \"SPAIN\"\n      },\n      \"monthlyIncome\": \"1800\",\n      \"incomeFrequency\": 12,\n      \"consentGroup\": true\n    }\n  ],\n  \"merchant\": {\n    \"code\": \"MERC_12\",\n    \"user\": \"user@corporation.com\"\n  },\n  \"order\": {\n    \"goodsType\": \"HEALTHCARE\",\n    \"serviceDuration\": \"ZERO_TO_THREE_MONTHS\",\n    \"reference\": \"AB33123D\",\n    \"purchaseAmount\": \"1500.00\"\n  },\n  \"loanDetails\": {\n    \"financingPromotion\": 0,\n    \"openingFeePct\": 0,\n    \"term\": 12,\n    \"productType\": \"INTEREST_BEARING\",\n    \"gracePeriod\": 1,\n    \"monthlyDueDate\": 1,\n    \"feePaymentType\": \"UPFRONT\",\n    \"insurance\": true,\n    \"noAccount\": false,\n    \"lenderCustomer\": \"ABANCA\",\n    \"applicantType\": \"PERSONAL\",\n    \"maxMerchantCost\": 0\n  },\n  \"id\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n  \"readableId\": 12312837,\n  \"creationDate\": \"2020-05-27T10:39:49.786Z\",\n  \"createdViaApi\": true,\n  \"state\": \"PENDING_SUBMISSION\",\n}"}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}},"callbacks":{"Event notification":{"$request.body#/merchant/events/eventsURL":{"put":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationEvent"}}}},"responses":{}}}}}}},"/v2/applications/{id}/return":{"put":{"tags":["Application"],"summary":"Initiates the return of an approved loan","description":"Will commence the loan return process for an approved loan, which may, depending on the Group's settings, necessitate specific internal approvals.","operationId":"offerReturnRequest","parameters":[{"name":"id","in":"path","description":"The id of the application, it can be a uuid or a numeric value. If the passed value is neither an uuid nor a numeric (integer) value an error will be thrown.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The return request payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReturnRequest"},"example":{"username":"test1@test.com","amount":"1500","comments":"Comments example"}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}},"200":{"description":"The application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"},"example":{"applicants":[{"role":"MAIN_APPLICANT","docIdType":"NATIONAL_ID","docIdType2":"EU_RESIDENCE_CARD","docIdNumber":"50726711G","docIdNumber2":"297708325","title":"SR_SRA","firstName":"Ana","surname1":"Martínez","surname2":"Sánchez","birthDate":"1990-06-19","nationality":"SPAIN","nationality2":"PORTUGAL","accountNumber":"ES7420589288659524800210","email":"ana_sanchez@gmail.com","socialSecurityNumber":"000-00-0000","phoneType1":"LANDLINE","phone1":"976886521","phoneType2":"MOBILE","phone2":"678321666","address":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"paymentMethod":"CCC","accountCreationDate":"2020-05-27T10:14:05.233Z","docIdExpirationDate":"2020-05-27T10:14:05.233Z","drivingLicenceIssuanceDate":"2018-05-27T10:14:05.233Z","nativeAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"gender":"FEMALE","maritalStatus":"SINGLE","dependent":0,"housingTenureType":"OWN_MORTGAGE","housingTenureStartDate":"2020-05-27T10:14:05.233Z","housingExpenses":"250.00","otherExpenses":"0.00","occupationType":"PUBLIC_EMPLOYEE","occupation":"PERMANENT_CIVIL_SERVANT","profession":"ATTORNEY","jobTitle":"SENIOR_MANAGER","industryType":"AGRICULTURE_LIVESTOCK_FISHING","industry":"AGRICULTURE","contractStartDate":"2020-05-27T10:14:05.233Z","contractEndDate":"2020-05-27T10:14:05.233Z","personType":"NATURAL","companyIdNumber":"Q2812599E","companyName":"Company S.L","companyPhone":"976555222","companyAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"monthlyIncome":"1800","incomeFrequency":12,"consentGroup":true}],"merchant":{"code":"MERC_12","user":"user@corporation.com"},"order":{"goodsType":"HEALTHCARE","serviceDuration":"ZERO_TO_THREE_MONTHS","reference":"AB33123D","purchaseAmount":"1500.00"},"loanDetails":{"requestedAmount":"1500.00","financingPromotion":0,"openingFeePct":0,"term":12,"productType":"INTEREST_BEARING","gracePeriod":1,"monthlyDueDate":1,"feePaymentType":"UPFRONT","insurance":true,"noAccount":false,"lenderCustomer":"ABANCA","applicantType":"PERSONAL","maxMerchantCost":0}}}}}}}},"/v2/applications/{id}/cancel":{"put":{"tags":["Application"],"summary":"Cancels an application if possible (i.e. if its state is not APPROVED nor RETURNED).","description":"The application state will be updated to CANCELED and offer cancellation requests will be submitted to the lenders that support this feature","operationId":"cancelApplication","parameters":[{"name":"id","in":"path","description":"The id of the application, it can be a uuid or a numeric value. If the passed value is neither an uuid nor a numeric (integer) value an error will be thrown.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The application cancellation payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelApplication"},"example":{"cancellationReason":"ILLNESS","username":"test1@test.com"}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}},"200":{"description":"The application","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"},"example":{"applicants":[{"role":"MAIN_APPLICANT","docIdType":"NATIONAL_ID","docIdType2":"EU_RESIDENCE_CARD","docIdNumber":"50726711G","docIdNumber2":"297708325","title":"SR_SRA","firstName":"Ana","surname1":"Martínez","surname2":"Sánchez","birthDate":"1990-06-19","nationality":"SPAIN","nationality2":"PORTUGAL","accountNumber":"ES7420589288659524800210","email":"ana_sanchez@gmail.com","socialSecurityNumber":"000-00-0000","phoneType1":"LANDLINE","phone1":"976886521","phoneType2":"MOBILE","phone2":"678321666","address":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"paymentMethod":"CCC","accountCreationDate":"2020-05-27T10:14:05.233Z","docIdExpirationDate":"2020-05-27T10:14:05.233Z","drivingLicenceIssuanceDate":"2018-05-27T10:14:05.233Z","nativeAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"gender":"FEMALE","maritalStatus":"SINGLE","dependent":0,"housingTenureType":"OWN_MORTGAGE","housingTenureStartDate":"2020-05-27T10:14:05.233Z","housingExpenses":"250.00","otherExpenses":"0.00","occupationType":"PUBLIC_EMPLOYEE","occupation":"PERMANENT_CIVIL_SERVANT","profession":"ATTORNEY","jobTitle":"SENIOR_MANAGER","industryType":"AGRICULTURE_LIVESTOCK_FISHING","industry":"AGRICULTURE","contractStartDate":"2020-05-27T10:14:05.233Z","contractEndDate":"2020-05-27T10:14:05.233Z","personType":"NATURAL","companyIdNumber":"Q2812599E","companyName":"Company S.L","companyPhone":"976555222","companyAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"monthlyIncome":"1800","incomeFrequency":12,"consentGroup":true}],"merchant":{"code":"MERC_12","user":"user@corporation.com"},"order":{"goodsType":"HEALTHCARE","serviceDuration":"ZERO_TO_THREE_MONTHS","reference":"AB33123D","purchaseAmount":"1500.00"},"loanDetails":{"requestedAmount":"1500.00","financingPromotion":0,"openingFeePct":0,"term":12,"productType":"INTEREST_BEARING","gracePeriod":1,"monthlyDueDate":1,"feePaymentType":"UPFRONT","insurance":true,"noAccount":false,"lenderCustomer":"ABANCA","applicantType":"PERSONAL","maxMerchantCost":0}}}}}}}},"/v2/users":{"get":{"tags":["User"],"summary":"Search users information","operationId":"searchUser","parameters":[{"name":"page","in":"query","description":"If this parameter is specified, standard pagination will be performed, returning the users corresponding to the indicated page (0 based indexed) for the indicated page size. For example: page=2&pageSize=10 will return the results (20-29). The results will be sorted by descending creation date.","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"pageSize","in":"query","description":"Maximum number of users to be returned. If not specified, 20 users will be returned by default..","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":15},{"name":"pageToken","in":"query","description":"If the \"page\" parameter has not been specified, the search will use cursor-based pagination. Each search result will include a nextPageToken field in the \"meta\" section. This nextPageToken must be included as a pageToken in the following request in order to get the next page of users. The initial search should not include pageToken. The results will always be returned ordered by descending creation date.","required":false,"schema":{"type":"string"},"example":"MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3"},{"name":"usernameStartsWith","in":"query","description":"Name of the user you want to search for. Results whose username begins with this value will be returned.","required":false,"schema":{"type":"string"},"example":"francisco"},{"name":"createdBefore","in":"query","description":"Users created prior to the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"createdAfter","in":"query","description":"Users created after the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"stateIn","in":"query","description":"Users whose state matches one of the values in this array will be returned.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","INACTIVE","LOCKED","EXPIRED","DELETED"]}},"example":"stateIn=INACTIVE&stateIn=LOCKED"}],"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"User recovered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserApiSearchResponse"},"examples":{"Standard pagination":{"description":"Standard pagination","value":{"data":[{"id":"24a4c32f-cd3c-450d-85ce-292c94214218","username":"maria","state":"ACTIVE","firstName":"María","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"mmartinez@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}],"meta":{"total":"328","hasMore":true}}},"Cursor pagination":{"description":"Cursor pagination","value":{"data":[{"id":"24a4c32f-cd3c-450d-85ce-292c94214218","username":"maria","state":"ACTIVE","firstName":"María","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"mmartinez@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}],"meta":{"nextPageToken":"MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3","hasMore":true}}}}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}},"post":{"tags":["User"],"summary":"Creates a new user","operationId":"createUser","requestBody":{"description":"The payload of the user that is about to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"username":"maria","state":"ACTIVE","firstName":"Maria","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"maria@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"201":{"description":"The user has been successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"id":"24a4c32f-cd3c-450d-85ce-292c94214218","username":"maria","state":"ACTIVE","firstName":"Maria","surname1":"Martinez","surname2":"Fernandez","phone1":"611611611","email":"maria@test.com","docIdType":"NATIONAL_ID","docIdType2":"NATIONAL_ID","docIdNumber":"11111111H","docIdNumber2":"38765668L","language":"es_ES","merchants":["TEST_GROUP"],"roles":["TEST"]}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}}},"/v2/simulation":{"post":{"tags":["Simulation"],"summary":"Creates a simulation","operationId":"createLoanSimulation","requestBody":{"description":"The simulation payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiLoanSimulationPayload"},"example":{"merchantCode":"VORWERK_THERMOMIX_QD","goodsTypeCode":"TM_STANDARD_PROMO_1","requestedAmount":"1200","term":6,"gracePeriod":null,"purchaseAmount":"1200","applicantType":"PERSONAL","languageTag":"es"}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"The simulation has been successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoanSimulationResponseDTO"},"example":{"purchaseAmount":1200,"loanAmount":1150,"term":6,"gracePeriod":0,"openingFeePct":0,"openingFeeCost":0,"openingFeeUpfront":0,"insuranceCost":0,"insuranceUpfront":0,"productType":"INTEREST_BEARING","productTypeLabel":"Standard financing","nir":0.0995,"apr":0.10400823340918941,"hasInsurance":false,"downPayment":50,"monthlyPayment":197.27,"finalPayment":0,"totalPayments":1183.62,"totalCost":33.62,"totalInterest":33.62}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}}},"/v2/applications":{"get":{"tags":["Application"],"summary":"Search applications","operationId":"searchApplications","parameters":[{"name":"page","in":"query","description":"If this parameter is specified, standard pagination will be performed, returning the applications corresponding to the indicated page (0 based indexed) for the indicated page size. For example: page=2&pageSize=10 will return the results (20-29). The results will be sorted by descending creation date.","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"pageSize","in":"query","description":"Maximum number of applications to be returned. If not specified, 20 applications will be returned by default..","required":false,"schema":{"type":"integer","format":"int32","default":20},"example":15},{"name":"pageToken","in":"query","description":"If the \"page\" parameter has not been specified, the search will use cursor-based pagination. Each search result will include a nextPageToken field in the \"meta\" section. This nextPageToken must be included as a pageToken in the following request in order to get the next page of applications. The initial search should not include pageToken. The results will always be returned ordered by descending creation date.","required":false,"schema":{"type":"string"},"example":"MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3"},{"name":"merchant","in":"query","description":"Applications whose merchant code matches one of the values in this array will be returned.","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"merchant=MERCHANT_CODE_1&merchant=MERCHANT_CODE_2"},{"name":"fromDate","in":"query","description":"Applications created after the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"toDate","in":"query","description":"Applications created prior to the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"signed","in":"query","description":"If \"signed\" is true it will recover applications with offers whose signature method equals to SIGNED_MANUAL, SIGNED_SMS or SIGNED_BIOMETRIC. If \"signed\" is false will recover applications with offers whose signature method is unset.","required":false,"schema":{"type":"boolean"},"example":true},{"name":"docsSubmitted","in":"query","description":"Applications whose documents are submitted or not.","required":false,"schema":{"type":"boolean"},"example":true},{"name":"state","in":"query","description":"The application states to filter with.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["APPROVED","PREAPPROVED","SUBMITTING","PENDING_REVIEW","PENDING_DATA","PENDING_SUBMISSION","DRAFT","ERROR","DENIED","CANCELED","RETURNED"]}},"example":"state=PENDING_DATA&state=PREAPPROVED"},{"name":"offerState","in":"query","description":"Applications whose offers states equal to the values.","required":false,"schema":{"type":"array","items":{"type":"string","enum":["APPROVED","PREAPPROVED","PENDING_REVIEW","PENDING_DATA","PENDING_SUBMISSION","SUBMITTING","DENIED","ERROR","CANCELED","RETURNED"]}},"example":"offerState=APPROVED&offerState=CANCELED"},{"name":"lender","in":"query","description":"Applications whose selected offer lender code equals to the values.","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"lender=ABANCA&lender=CAIXABANK"},{"name":"registrationNumber","in":"query","description":"Applications whose motor vehicle registration number equals to the value.","required":false,"schema":{"type":"string"},"example":"1234ABC"},{"name":"vin","in":"query","description":"Applications whose motor vehicle vin number equals to the value.","required":false,"schema":{"type":"string"},"example":"1GNEK13ZX3R298984"},{"name":"offerDocsSubmitted","in":"query","description":"If true, will return applications with offers whose state equals to PREAPPROVED or PENDING_REVIEW with uploaded documents unsent.","required":false,"schema":{"type":"boolean"},"example":true},{"name":"isNotCancelled","in":"query","description":"Applications whose state is not CANCELED.","required":false,"schema":{"type":"boolean"},"example":true},{"name":"createdByUsername","in":"query","description":"Applications created by the user (username) you want to search for. Results whose username begins with this value will be returned.","required":false,"schema":{"type":"string"},"example":"johndoe"},{"name":"createdByDocIdNumber","in":"query","description":"Applications created by the user with an identification document number.","required":false,"schema":{"type":"string"},"example":"22706647N"},{"name":"groupCode","in":"query","description":"Applications belonging to the group code values.","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"groupCode=VORWERK&groupCode=GAES"},{"name":"readableId","in":"query","description":"Retrieves the application whose readable id number equals to the value.","required":false,"schema":{"type":"string"},"example":38884464},{"name":"province","in":"query","description":"Applications whose main's applicant address province equals to the value.","required":false,"schema":{"type":"string","enum":["ALAVA","ALBACETE","ALICANTE","ALMERIA","AVILA","BADAJOZ","BALEARES","BARCELONA","BURGOS","CACERES","CADIZ","CASTELLON","CIUDAD_REAL","CORDOBA","A_CORUNA","CUENCA","GERONA","GRANADA","GUADALAJARA","GUIPUZCOA","HUELVA","HUESCA","JAEN","LEON","LERIDA","LA_RIOJA","LUGO","MADRID","MALAGA","MURCIA","NAVARRA","ORENSE","ASTURIAS","PALENCIA","LAS_PALMAS","PONTEVEDRA","SALAMANCA","SANTA_CRUZ_DE_TENERIFE","CANTABRIA","SEGOVIA","SEVILLA","SORIA","TARRAGONA","TERUEL","TOLEDO","VALENCIA","VALLADOLID","VIZCAYA","ZAMORA","ZARAGOZA","CEUTA","MELILLA","AVEIRO","BEJA","BRAGA","BRAGANCA","CASTELO_BRANCO","COIMBRA","EVORA","FARO","GUARDA","LEIRIA","LISBOA","PORTALEGRE","PORTO","SANTAREM","SETUBAL","VIANA_DO_CASTELO","VILA_REAL","VISEU","ILHA_DA_MADEIRA","ILHA_DE_PORTO_SANTO","ILHA_DE_SANTA_MARIA","ILHA_DE_SAO_MIGUEL","ILHA_TERCEIRA","ILHA_DA_GRACIOSA","ILHA_DE_SAO_JORGE","ILHA_DO_PICO","ILHA_DO_FAIAL","ILHA_DAS_FLORES","ILHA_DO_CORVO","AGRIGENTO","ALESSANDRIA","ANCONA","VALLE_D_AOSTA","AREZZO","ASCOLI_PICENO","ASTI","AVELLINO","BARI","BARLETTA_ANDRIA_TRANI","BELLUNO","BENEVENTO","BERGAMO","BIELLA","BOLOGNA","BOLZANO","BRESCIA","BRINDISI","CAGLIARI","CALTANISSETTA","CAMPOBASSO","CASERTA","CATANIA","CATANZARO","CHIETI","COMO","COSENZA","CREMONA","CROTONE","CUNEO","ENNA","FERMO","FERRARA","FIRENZE","FOGGIA","FORLI_CESENA","FROSINONE","GENOVA","GORIZIA","GROSSETO","IMPERIA","ISERNIA","L_AQUILA","LA_SPEZIA","LATINA","LECCE","LECCO","LIVORNO","LODI","LUCCA","MACERATA","MANTOVA","MASSA_CARRARA","MATERA","MESSINA","MILANO","MODENA","MONZA_E_DELLA_BRIANZA","NAPOLI","NOVARA","NUORO","ORISTANO","PADOVA","PALERMO","PARMA","PAVIA","PERUGIA","PESARO_E_URBINO","PESCARA","PIACENZA","PISA","PISTOIA","PORDENONE","POTENZA","PRATO","RAGUSA","RAVENNA","REGGIO_CALABRIA","REGGIO_NELL_EMILIA","RIETI","RIMINI","ROMA","ROVIGO","SALERNO","SASSARI","SAVONA","SIENA","SIRACUSA","SONDRIO","SUD_SARDEGNA","TARANTO","TERAMO","TERNI","TORINO","TRAPANI","TRENTO","TREVISO","TRIESTE","UDINE","VARESE","VENEZIA","VERBANO_CUSIO_OSSOLA","VERCELLI","VERONA","VIBO_VALENTIA","VICENZA","VITERBO","AIN","AISNE","ALLIER","ALPES_DE_HAUTE_PROVENCE","HAUTES_ALPES","ALPES_MARITIMES","ARDECHE","ARDENNES","ARIEGE","AUBE","AUDE","AVEYRON","BOUCHES_DU_RHONE","CALVADOS","CANTAL","CHARENTE","CHARENTE_MARITIME","CHER","CORREZE","CORSE_DU_SUD","HAUTE_CORSE","COTE_D_OR","COTES_D_ARMOR","CREUSE","DORDOGNE","DOUBS","DROME","EURE","EURE_ET_LOIR","FINISTERE","GARD","HAUTE_GARONNE","GERS","GIRONDE","HERAULT","ILLE_ET_VILAINE","INDRE","INDRE_ET_LOIRE","ISERE","JURA","LANDES","LOIR_ET_CHER","LOIRE","HAUTE_LOIRE","LOIRE_ATLANTIQUE","LOIRET","LOT","LOT_ET_GARONNE","LOZERE","MAINE_ET_LOIRE","MANCHE","MARNE","HAUTE_MARNE","MAYENNE","MEURTHE_ET_MOSELLE","MEUSE","MORBIHAN","MOSELLE","NIEVRE","NORD","OISE","ORNE","PAS_DE_CALAIS","PUY_DE_DOME","PYRENEES_ATLANTIQUES","HAUTES_PYRENEES","PYRENEES_ORIENTALES","BAS_RHIN","HAUT_RHIN","RHONE","LYON_METROPOLIS","HAUTE_SAONE","SAONE_ET_LOIRE","SARTHE","SAVOIE","HAUTE_SAVOIE","PARIS","SEINE_MARITIME","SEINE_ET_MARNE","YVELINES","DEUX_SEVRES","SOMME","TARN","TARN_ET_GARONNE","VAR","VAUCLUSE","VENDEE","VIENNE","HAUTE_VIENNE","VOSGES","YONNE","TERRITOIRE_DE_BELFORT","ESSONNE","HAUTS_DE_SEINE","SEINE_SAINT_DENIS","VAL_DE_MARNE","VAL_D_OISE","GUADELOUPE","MARTINIQUE","GUYANE","LA_REUNION","SAINT_PIERRE_ET_MIQUELON","MAYOTTE","SAINT_BARTHELEMY","SAINT_MARTIN","TERRES_AUSTRALES_ET_ANTARCTIQUES_FRANCAISES","WALLIS_ET_FUTUNA","POLYNESIE_FRANCAISE","NOUVELLE_CALEDONIE","ILE_DE_CLIPPERTON","MONACO"]},"example":"MADRID"},{"name":"surname","in":"query","description":"Applications whose main's applicant surname contains the value.","required":false,"schema":{"type":"string"},"example":"Martinez"},{"name":"docIdNumber","in":"query","description":"Applications whose main's applicant doc id number equals to the value.","required":false,"schema":{"type":"string"},"example":"09605414Q"},{"name":"productType","in":"query","description":"Applications whose financial product type equals to the value.","required":false,"schema":{"type":"string","enum":["INTEREST_BEARING","ZERO_INTEREST","SUBSIDIZED_INTEREST","OPTION_PLUS","MULTIOPTION","LEASING","REFINANCING","BULLET","LOAN","SUBSCRIPTION","VARIABLE_RATE","RENTING","PROMOTION","STANDARD","BNPL","KIA_FLEXIBLE_RANGE_FINANCE","KIA_KREDIT","KIA_PROTECCION_CLIENTE","KIA_FLEXIPLAN"]},"example":"STANDARD"},{"name":"goodsType","in":"query","description":"Applications whose code associated to the good/service sold equals to the value.","required":false,"schema":{"type":"string"},"example":"ELECTRONICS"},{"name":"fromPreapprovalDate","in":"query","description":"Applications whose pre-approval date is after the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"untilPreapprovalDate","in":"query","description":"Applications whose pre-approval date is prior to the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"fromApprovalDate","in":"query","description":"Applications whose approval date is after the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"untilApprovalDate","in":"query","description":"Applications whose approval date is prior to the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"fromDocsSubmissionDate","in":"query","description":"Applications whose docs submission date is after the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"untilDocsSubmissionDate","in":"query","description":"Applications whose docs submission date is prior to the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"fromPayoutDate","in":"query","description":"Applications whose payout date is after the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"untilPayoutDate","in":"query","description":"Applications whose payout date is prior to the date will be returned.","required":false,"schema":{"type":"string","format":"date-time"},"example":"2017-07-21T17:32:28Z"},{"name":"term","in":"query","description":"Applications whose selected offer term equals to the value.","required":false,"schema":{"type":"string"},"example":6},{"name":"feeType","in":"query","description":"Applications whose selected offer product type equals to the value.","required":false,"schema":{"type":"string","enum":["INTEREST_BEARING","ZERO_INTEREST","SUBSIDIZED_INTEREST","OPTION_PLUS","MULTIOPTION","LEASING","REFINANCING","BULLET","LOAN","SUBSCRIPTION","VARIABLE_RATE","RENTING","PROMOTION","STANDARD","BNPL","KIA_FLEXIBLE_RANGE_FINANCE","KIA_KREDIT","KIA_PROTECCION_CLIENTE","KIA_FLEXIPLAN"]},"example":"INTEREST_BEARING"},{"name":"fromLoanAmount","in":"query","description":"Applications whose selected offer loan amount is greater or equal than the value.","required":false,"schema":{"type":"number"},"example":1000.99},{"name":"untilLoanAmount","in":"query","description":"Applications whose selected offer loan amount is lower or equal than the value.","required":false,"schema":{"type":"number"},"example":1000.99}],"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"Applications recovered successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationApiSearchResponse"},"examples":{"Standard pagination":{"description":"Standard pagination","value":{"data":[{"id":"ff3fda14-c182-40f9-abda-b50e7dd62cb2","applicants":[{"id":"fa491d5d-f58a-4f2d-a48f-b81200fd3117","role":"MAIN_APPLICANT","docIdType":"NATIONAL_ID","docIdType2":"FOREIGN_ID","docIdNumber":"97314961Y","docIdNumber2":"97314961Z","title":"SR_SRA","firstName":"Test","surname1":"Applicant","surname2":"Api","nationalityIso":"ES","nationality":"SPAIN","nationality2":"SPAIN","paymentMethod":"CCC","accountNumber":"ES2714**************5725","email":"applicant@test.com","socialSecurityNumber":"123456"}],"merchant":{"code":"dc61c1bf-b609-45a1-85b8-6375695f6956","user":"test_api_user","redirectAfterScoring":false,"emailAfterScoring":false},"order":{"goodsType":"1670633c-9151-4630-875b-0e1e3663f139","serviceDuration":"EIGHTEEN_TO_TWENTY_FOUR_MONTHS","reference":"ABCD","purchaseAmount":"1500.00"},"loanDetails":{"requestedAmount":"1500.00","term":12,"productType":"INTEREST_BEARING","openingFeePct":"0.00000000","feePaymentType":"FINANCED","gracePeriod":2,"insurance":true,"noAccount":false,"applicantType":"PERSONAL"},"sendLeadEmail":false,"phoneValidationRequired":false,"signatureDisabled":false,"managedBy":"AGENT","readableId":38768148,"applicationUiUrl":"test/application/ff3fda14-c182-40f9-abda-b50e7dd62cb2","creationDate":"2024-02-08T09:11:40.605298Z","createdViaApi":true,"state":"APPROVED","selectedOffer":{"id":"74c85a46-0631-4401-ab19-ac6d34a9ae98","lender":"CAJAMAR","submissionOrder":0,"approvalDate":"2022-09-01T17:32:28Z","docsSubmitted":false,"loanAmount":"3000.00","gracePeriod":0,"insurance":false,"partialReturns":[]},"source":"API"}],"meta":{"total":1,"nextPageToken":null,"hasMore":false}}},"Cursor pagination":{"description":"Cursor pagination","value":{"data":[{"id":"ff3fda14-c182-40f9-abda-b50e7dd62cb2","applicants":[{"id":"fa491d5d-f58a-4f2d-a48f-b81200fd3117","role":"MAIN_APPLICANT","docIdType":"NATIONAL_ID","docIdType2":"FOREIGN_ID","docIdNumber":"97314961Y","docIdNumber2":"97314961Z","title":"SR_SRA","firstName":"Test","surname1":"Applicant","surname2":"Api","nationalityIso":"ES","nationality":"SPAIN","nationality2":"SPAIN","paymentMethod":"CCC","accountNumber":"ES2714**************5725","email":"applicant@test.com","socialSecurityNumber":"123456"}],"merchant":{"code":"dc61c1bf-b609-45a1-85b8-6375695f6956","user":"test_api_user","redirectAfterScoring":false,"emailAfterScoring":false},"order":{"goodsType":"1670633c-9151-4630-875b-0e1e3663f139","serviceDuration":"EIGHTEEN_TO_TWENTY_FOUR_MONTHS","reference":"ABCD","purchaseAmount":"1500.00"},"loanDetails":{"requestedAmount":"1500.00","term":12,"productType":"INTEREST_BEARING","openingFeePct":"0.00000000","feePaymentType":"FINANCED","gracePeriod":2,"insurance":true,"noAccount":false,"applicantType":"PERSONAL"},"sendLeadEmail":false,"phoneValidationRequired":false,"signatureDisabled":false,"managedBy":"AGENT","readableId":38768148,"applicationUiUrl":"test/application/ff3fda14-c182-40f9-abda-b50e7dd62cb2","creationDate":"2024-02-08T09:11:40.605298Z","createdViaApi":true,"state":"APPROVED","selectedOffer":{"id":"74c85a46-0631-4401-ab19-ac6d34a9ae98","lender":"CAJAMAR","submissionOrder":0,"approvalDate":"2022-09-01T17:32:28Z","docsSubmitted":false,"loanAmount":"3000.00","gracePeriod":0,"insurance":false,"partialReturns":[]},"source":"API"}],"meta":{"nextPageToken":"MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3","hasMore":true}}}}}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}},"post":{"tags":["Application"],"summary":"Creates a new application","operationId":"createApplication","requestBody":{"description":"The payload of the application that is about to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Application"},"example":{"applicants":[{"role":"MAIN_APPLICANT","docIdType":"NATIONAL_ID","docIdType2":"EU_RESIDENCE_CARD","docIdNumber":"50726711G","docIdNumber2":"297708325","title":"SR_SRA","firstName":"Ana","surname1":"Martínez","surname2":"Sánchez","birthDate":"1990-06-19","nationality":"SPAIN","nationality2":"PORTUGAL","accountNumber":"ES7420589288659524800210","email":"ana_sanchez@gmail.com","socialSecurityNumber":"000-00-0000","phoneType1":"LANDLINE","phone1":"976886521","phoneType2":"MOBILE","phone2":"678321666","address":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"paymentMethod":"CCC","accountCreationDate":"2020-05-27T10:14:05.233Z","docIdExpirationDate":"2020-05-27T10:14:05.233Z","drivingLicenceIssuanceDate":"2018-05-27T10:14:05.233Z","nativeAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"gender":"FEMALE","maritalStatus":"SINGLE","dependent":0,"housingTenureType":"OWN_MORTGAGE","housingTenureStartDate":"2020-05-27T10:14:05.233Z","housingExpenses":"250.00","otherExpenses":"0.00","occupationType":"PUBLIC_EMPLOYEE","occupation":"PERMANENT_CIVIL_SERVANT","profession":"ATTORNEY","jobTitle":"SENIOR_MANAGER","industryType":"AGRICULTURE_LIVESTOCK_FISHING","industry":"AGRICULTURE","contractStartDate":"2020-05-27T10:14:05.233Z","contractEndDate":"2020-05-27T10:14:05.233Z","personType":"NATURAL","companyIdNumber":"Q2812599E","companyName":"Company S.L","companyPhone":"976555222","companyAddress":{"streetType":"CALLE","street":"Lagasca","number":31,"block":"2","stairs":"2","floor":3,"door":"A","complement":"DUPL","postalCode":"28001","province":"MADRID","country":"SPAIN"},"monthlyIncome":"1800","incomeFrequency":12,"consentGroup":true}],"merchant":{"code":"MERC_12","user":"user@corporation.com"},"order":{"goodsType":"HEALTHCARE","serviceDuration":"ZERO_TO_THREE_MONTHS","reference":"AB33123D","purchaseAmount":"1500.00"},"loanDetails":{"requestedAmount":"1500.00","financingPromotion":0,"openingFeePct":0,"term":12,"productType":"INTEREST_BEARING","gracePeriod":1,"monthlyDueDate":1,"feePaymentType":"UPFRONT","insurance":true,"noAccount":false,"lenderCustomer":"ABANCA","applicantType":"PERSONAL","maxMerchantCost":0}}}},"required":true},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"201":{"description":"The application has been successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"},"example":"{\n  \"applicants\": [\n    {\n      \"role\": \"MAIN_APPLICANT\",\n      \"docIdType\": \"NATIONAL_ID\",\n      \"docIdType2\": \"EU_RESIDENCE_CARD\",\n      \"docIdNumber\": \"50726711G\",\n      \"docIdNumber2\": \"297708325\",\n      \"title\": \"SR_SRA\",\n      \"firstName\": \"Ana\",\n      \"surname1\": \"Martínez\",\n      \"surname2\": \"Sánchez\",\n      \"birthDate\": \"1990-06-19\",\n      \"nationality\": \"SPAIN\",\n      \"nationality2\": \"PORTUGAL\",\n      \"accountNumber\": \"ES7420589288659524800210\",\n      \"email\": \"ana_sanchez@gmail.com\",\n      \"socialSecurityNumber\": \"000-00-0000\",\n      \"phoneType1\": \"LANDLINE\",\n      \"phone1\": \"976886521\",\n      \"phoneType2\": \"MOBILE\",\n      \"phone2\": \"678321666\",\n      \"address\": {\n        \"streetType\": \"CALLE\",\n        \"street\": \"Lagasca\",\n        \"number\": 31,\n        \"block\": \"2\",\n        \"stairs\": \"2\",\n        \"floor\": 3,\n        \"door\": \"A\",\n        \"complement\": \"DUPL\",\n        \"postalCode\": \"28001\",\n        \"province\": \"MADRID\",\n        \"country\": \"SPAIN\"\n      },\n      \"paymentMethod\": \"CCC\",\n      \"accountCreationDate\": \"2020-05-27T10:14:05.233Z\",\n      \"docIdExpirationDate\": \"2020-05-27T10:14:05.233Z\",\n      \"drivingLicenceIssuanceDate\": \"2018-05-27T10:14:05.233Z\",\n      \"nativeAddress\": {\n        \"streetType\": \"CALLE\",\n        \"street\": \"Lagasca\",\n        \"number\": 31,\n        \"block\": \"2\",\n        \"stairs\": \"2\",\n        \"floor\": 3,\n        \"door\": \"A\",\n        \"complement\": \"DUPL\",\n        \"postalCode\": \"28001\",\n        \"province\": \"MADRID\",\n        \"country\": \"SPAIN\"\n      },\n      \"gender\": \"FEMALE\",\n      \"maritalStatus\": \"SINGLE\",\n      \"dependent\": 0,\n      \"housingTenureType\": \"OWN_MORTGAGE\",\n      \"housingTenureStartDate\": \"2020-05-27T10:14:05.233Z\",\n      \"housingExpenses\": \"250.00\",\n      \"otherExpenses\": \"0.00\",\n      \"occupationType\": \"PUBLIC_EMPLOYEE\",\n      \"occupation\": \"PERMANENT_CIVIL_SERVANT\",\n      \"profession\": \"ATTORNEY\",\n      \"jobTitle\": \"SENIOR_MANAGER\",\n      \"industryType\": \"AGRICULTURE_LIVESTOCK_FISHING\",\n      \"industry\": \"AGRICULTURE\",\n      \"contractStartDate\": \"2020-05-27T10:14:05.233Z\",\n      \"contractEndDate\": \"2020-05-27T10:14:05.233Z\",\n      \"personType\": \"NATURAL\",\n      \"companyIdNumber\": \"Q2812599E\",\n      \"companyName\": \"Company S.L\",\n      \"companyPhone\": \"976555222\",\n      \"companyAddress\": {\n        \"streetType\": \"CALLE\",\n        \"street\": \"Lagasca\",\n        \"number\": 31,\n        \"block\": \"2\",\n        \"stairs\": \"2\",\n        \"floor\": 3,\n        \"door\": \"A\",\n        \"complement\": \"DUPL\",\n        \"postalCode\": \"28001\",\n        \"province\": \"MADRID\",\n        \"country\": \"SPAIN\"\n      },\n      \"monthlyIncome\": \"1800\",\n      \"incomeFrequency\": 12,\n      \"consentGroup\": true\n    }\n  ],\n  \"merchant\": {\n    \"code\": \"MERC_12\",\n    \"user\": \"user@corporation.com\"\n  },\n  \"order\": {\n    \"goodsType\": \"HEALTHCARE\",\n    \"serviceDuration\": \"ZERO_TO_THREE_MONTHS\",\n    \"reference\": \"AB33123D\",\n    \"purchaseAmount\": \"1500.00\"\n  },\n  \"loanDetails\": {\n    \"financingPromotion\": 0,\n    \"openingFeePct\": 0,\n    \"term\": 12,\n    \"productType\": \"INTEREST_BEARING\",\n    \"gracePeriod\": 1,\n    \"monthlyDueDate\": 1,\n    \"feePaymentType\": \"UPFRONT\",\n    \"insurance\": true,\n    \"noAccount\": false,\n    \"lenderCustomer\": \"ABANCA\",\n    \"applicantType\": \"PERSONAL\",\n    \"maxMerchantCost\": 0\n  },\n  \"id\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n  \"readableId\": 12312837,\n  \"creationDate\": \"2020-05-27T10:39:49.786Z\",\n  \"createdViaApi\": true,\n  \"state\": \"PENDING_SUBMISSION\",\n}"}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}},"callbacks":{"Event notification":{"$request.body#/merchant/events/eventsURL":{"post":{"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationEvent"}}}},"responses":{}}}}}}},"/v2/applications/{id}/document":{"post":{"tags":["Application"],"summary":"Creates an application document.","operationId":"uploadApplicationDocument","parameters":[{"name":"id","in":"path","description":"The id of the application, it can be a uuid or a numeric value. If the passed value is neither an uuid nor a numeric (integer) value an error will be thrown.","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["document","file"],"type":"object","properties":{"file":{"type":"string","description":"The file to upload","format":"binary"},"document":{"$ref":"#/components/schemas/ApplicationDocument"}}}}}},"responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"201":{"description":"Document successfully sent"},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}}},"/v2/applications/health-check":{"get":{"tags":["Application"],"summary":"Checks the validity of an API-KEY","operationId":"checkApiKey","responses":{"400":{"description":"The request was malformed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":400,"message":"The payload was not present or malformed","detailedMessage":null,"errorCode":"BAD_REQUEST","validationErrors":[{"fieldName":"applicants[0].docIdNumber","message":"The value Z7328559M is not a valid NIF"}],"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":404,"message":"The resource you requested was not found","detailedMessage":"The Merchant with code MER_01 does not exist","errorCode":"RESOURCE_NOT_FOUND","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":403,"message":"You have insufficient privileges to perform this operation","detailedMessage":"You are not allowed to access the Merchant resource","errorCode":"FORBIDDEN","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"500":{"description":"An unexpected error has occurred","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"httpStatusCode":500,"message":"Unexpected error occurred, check the detailedMessage field","detailedMessage":"Something went wrong while creating the Applicant","errorCode":"UNEXPECTED_ERROR","validationErrors":null,"errorId":"3fa85f64-5717-4562-b3fc-2c963f66afa6"}}}},"200":{"description":"OK","content":{"text/plain":{"example":"Your API-KEY is valid!"}}},"401":{"description":"You are not authorized, please check your API-KEY","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":"{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\": \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"}}}}}}},"components":{"schemas":{"Error":{"type":"object","properties":{"httpStatusCode":{"type":"integer","description":"The returned HTTP status code","format":"int32"},"message":{"type":"string","description":"A human readable message about the error that may include tips on how to fix the error"},"detailedMessage":{"type":"string","description":"A developer focused message with more detailed information about the error that occurred"},"errorCode":{"type":"string","description":"A code that identifies the error, can be used programmatically since it's unique","enum":["API_KEY_NOT_FOUND","API_KEY_NOT_VALID","INVALID_USER_API_CONFIGURATION","UNEXPECTED_ERROR","BAD_REQUEST","INVALID_PAYLOAD","MALFORMED_APPLICATION_ID","RESOURCE_NOT_FOUND","FORBIDDEN"]},"validationErrors":{"type":"array","description":"An object that contains the validation errors, if there are any","items":{"$ref":"#/components/schemas/ValidationError"}},"errorId":{"type":"string","description":"A UUID that uniquely identifies the error. If you need help debugging the error you can pass this ID to Lendismart's staff","format":"uuid"}},"description":"Will be returned when an error occurs when calling the API"},"ValidationError":{"type":"object","properties":{"fieldName":{"type":"string","description":"The fieldName that did not pass the validation"},"message":{"type":"string","description":"A human readable message that explains why the validation did not pass"}},"description":"Represents a validation error for a specific field"},"User":{"required":["email","merchants","roles","username"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string","description":"The username of the User"},"creationDate":{"type":"string","description":"Timestamp that indicates when the user has been created","format":"date-time"},"state":{"type":"string","enum":["ACTIVE","INACTIVE","LOCKED","EXPIRED","DELETED"]},"firstName":{"type":"string"},"surname1":{"type":"string"},"surname2":{"type":"string"},"phone1":{"type":"string"},"email":{"type":"string"},"docIdType":{"type":"string","enum":["NATIONAL_ID","TEMPORARY_RESIDENT","PERMANENT_RESIDENT","CIF","EU_RESIDENCE_CARD","ARMY_CARD","AIR_FORCE_CARD","GENDARMERIE_CARD","NAVY_CARD","POLICE_CARD","CIVIL_CARD","CITIZEN_CARD","PORTO_SEGURO_TREATY_CARD","CPLP_RESIDENCE_PERMIT","PASSPORT","DRIVING_LICENCE"]},"docIdType2":{"type":"string","enum":["NATIONAL_ID","TEMPORARY_RESIDENT","PERMANENT_RESIDENT","CIF","EU_RESIDENCE_CARD","ARMY_CARD","AIR_FORCE_CARD","GENDARMERIE_CARD","NAVY_CARD","POLICE_CARD","CIVIL_CARD","CITIZEN_CARD","PORTO_SEGURO_TREATY_CARD","CPLP_RESIDENCE_PERMIT","PASSPORT","DRIVING_LICENCE"]},"docIdNumber":{"type":"string"},"docIdNumber2":{"type":"string"},"language":{"type":"string","enum":["es_ES","en_GB","en_US","pt_PT","de_DE","fr_FR","it_IT","ca_ES","eu_ES","gl_ES"]},"merchants":{"uniqueItems":true,"type":"array","items":{"type":"string"}},"roles":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},"description":"Represents a user"},"Address":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"streetType":{"type":"string","enum":["ALAMEDA","APARTAMENTO","AVENIDA","BARRIO","BLOQUE","CALLE","CALLEJA","CAMINO","CARRER","CARRETERA","CASERIO","CHALET","COLONIA","CUESTA","EDIFICIO","GLORIETA","GRAN_VIA","GRUPO","KALEA","LUGAR","MANZANA","MERCADO","MUNICIPIO","PARQUE","PASAJE","PASEO","PLAZA","POBLADO","POLIGONO","PROLONGACION","RAMBLA","RONDA","RUA","SENDA","TRAVESIA","URBANIZACION","VIA"]},"street":{"type":"string"},"number":{"type":"string"},"block":{"type":"string"},"stairs":{"type":"string"},"floor":{"type":"string"},"door":{"type":"string"},"complement":{"type":"string"},"postalCode":{"type":"string"},"province":{"type":"string","enum":["ALAVA","ALBACETE","ALICANTE","ALMERIA","AVILA","BADAJOZ","BALEARES","BARCELONA","BURGOS","CACERES","CADIZ","CASTELLON","CIUDAD_REAL","CORDOBA","A_CORUNA","CUENCA","GERONA","GRANADA","GUADALAJARA","GUIPUZCOA","HUELVA","HUESCA","JAEN","LEON","LERIDA","LA_RIOJA","LUGO","MADRID","MALAGA","MURCIA","NAVARRA","ORENSE","ASTURIAS","PALENCIA","LAS_PALMAS","PONTEVEDRA","SALAMANCA","SANTA_CRUZ_DE_TENERIFE","CANTABRIA","SEGOVIA","SEVILLA","SORIA","TARRAGONA","TERUEL","TOLEDO","VALENCIA","VALLADOLID","VIZCAYA","ZAMORA","ZARAGOZA","CEUTA","MELILLA","AVEIRO","BEJA","BRAGA","BRAGANCA","CASTELO_BRANCO","COIMBRA","EVORA","FARO","GUARDA","LEIRIA","LISBOA","PORTALEGRE","PORTO","SANTAREM","SETUBAL","VIANA_DO_CASTELO","VILA_REAL","VISEU","ILHA_DA_MADEIRA","ILHA_DE_PORTO_SANTO","ILHA_DE_SANTA_MARIA","ILHA_DE_SAO_MIGUEL","ILHA_TERCEIRA","ILHA_DA_GRACIOSA","ILHA_DE_SAO_JORGE","ILHA_DO_PICO","ILHA_DO_FAIAL","ILHA_DAS_FLORES","ILHA_DO_CORVO","AGRIGENTO","ALESSANDRIA","ANCONA","VALLE_D_AOSTA","AREZZO","ASCOLI_PICENO","ASTI","AVELLINO","BARI","BARLETTA_ANDRIA_TRANI","BELLUNO","BENEVENTO","BERGAMO","BIELLA","BOLOGNA","BOLZANO","BRESCIA","BRINDISI","CAGLIARI","CALTANISSETTA","CAMPOBASSO","CASERTA","CATANIA","CATANZARO","CHIETI","COMO","COSENZA","CREMONA","CROTONE","CUNEO","ENNA","FERMO","FERRARA","FIRENZE","FOGGIA","FORLI_CESENA","FROSINONE","GENOVA","GORIZIA","GROSSETO","IMPERIA","ISERNIA","L_AQUILA","LA_SPEZIA","LATINA","LECCE","LECCO","LIVORNO","LODI","LUCCA","MACERATA","MANTOVA","MASSA_CARRARA","MATERA","MESSINA","MILANO","MODENA","MONZA_E_DELLA_BRIANZA","NAPOLI","NOVARA","NUORO","ORISTANO","PADOVA","PALERMO","PARMA","PAVIA","PERUGIA","PESARO_E_URBINO","PESCARA","PIACENZA","PISA","PISTOIA","PORDENONE","POTENZA","PRATO","RAGUSA","RAVENNA","REGGIO_CALABRIA","REGGIO_NELL_EMILIA","RIETI","RIMINI","ROMA","ROVIGO","SALERNO","SASSARI","SAVONA","SIENA","SIRACUSA","SONDRIO","SUD_SARDEGNA","TARANTO","TERAMO","TERNI","TORINO","TRAPANI","TRENTO","TREVISO","TRIESTE","UDINE","VARESE","VENEZIA","VERBANO_CUSIO_OSSOLA","VERCELLI","VERONA","VIBO_VALENTIA","VICENZA","VITERBO","AIN","AISNE","ALLIER","ALPES_DE_HAUTE_PROVENCE","HAUTES_ALPES","ALPES_MARITIMES","ARDECHE","ARDENNES","ARIEGE","AUBE","AUDE","AVEYRON","BOUCHES_DU_RHONE","CALVADOS","CANTAL","CHARENTE","CHARENTE_MARITIME","CHER","CORREZE","CORSE_DU_SUD","HAUTE_CORSE","COTE_D_OR","COTES_D_ARMOR","CREUSE","DORDOGNE","DOUBS","DROME","EURE","EURE_ET_LOIR","FINISTERE","GARD","HAUTE_GARONNE","GERS","GIRONDE","HERAULT","ILLE_ET_VILAINE","INDRE","INDRE_ET_LOIRE","ISERE","JURA","LANDES","LOIR_ET_CHER","LOIRE","HAUTE_LOIRE","LOIRE_ATLANTIQUE","LOIRET","LOT","LOT_ET_GARONNE","LOZERE","MAINE_ET_LOIRE","MANCHE","MARNE","HAUTE_MARNE","MAYENNE","MEURTHE_ET_MOSELLE","MEUSE","MORBIHAN","MOSELLE","NIEVRE","NORD","OISE","ORNE","PAS_DE_CALAIS","PUY_DE_DOME","PYRENEES_ATLANTIQUES","HAUTES_PYRENEES","PYRENEES_ORIENTALES","BAS_RHIN","HAUT_RHIN","RHONE","LYON_METROPOLIS","HAUTE_SAONE","SAONE_ET_LOIRE","SARTHE","SAVOIE","HAUTE_SAVOIE","PARIS","SEINE_MARITIME","SEINE_ET_MARNE","YVELINES","DEUX_SEVRES","SOMME","TARN","TARN_ET_GARONNE","VAR","VAUCLUSE","VENDEE","VIENNE","HAUTE_VIENNE","VOSGES","YONNE","TERRITOIRE_DE_BELFORT","ESSONNE","HAUTS_DE_SEINE","SEINE_SAINT_DENIS","VAL_DE_MARNE","VAL_D_OISE","GUADELOUPE","MARTINIQUE","GUYANE","LA_REUNION","SAINT_PIERRE_ET_MIQUELON","MAYOTTE","SAINT_BARTHELEMY","SAINT_MARTIN","TERRES_AUSTRALES_ET_ANTARCTIQUES_FRANCAISES","WALLIS_ET_FUTUNA","POLYNESIE_FRANCAISE","NOUVELLE_CALEDONIE","ILE_DE_CLIPPERTON","MONACO"]},"cityCode":{"type":"string","description":"The INE (Instituto Nacional de Estadística) code of the city."},"localityCode":{"type":"string","description":"The INE (Instituto Nacional de Estadística) code of the locality."},"countryIso":{"type":"string","description":"The ISO 3166-1 alpha-2 country code."},"fullAddress":{"type":"string","description":"Optional field, use this field when you store the whole address as a string instead of multiple fields."},"line1":{"type":"string","description":"Address line 1."},"line2":{"type":"string","description":"Address line 2."},"cityName":{"type":"string","description":"Name of the city."},"provinceName":{"type":"string","description":"Name of the province/state."}},"description":"Shipping address."},"Applicant":{"required":["role"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"role":{"type":"string","description":"The role the applicant has in the loan application","enum":["MAIN_APPLICANT","COAPPLICANT","GUARANTOR"]},"relationship":{"type":"string","description":"The relationship this applicant has with the MAIN_APPLICANT. Should be specified only when the role is not MAIN_APPLICANT. If it's specified when the role is MAIN applicant a validation error will be thrown","enum":["SPOUSE","PARTNER","SON_OR_DAUGHTER","PARENT","SIBLING","SECOND_DEGREE","OTHER_FAMILY","NO_RELATION"]},"docIdType":{"type":"string","description":"The type of the identification document","enum":["NATIONAL_ID","TEMPORARY_RESIDENT","PERMANENT_RESIDENT","CIF","EU_RESIDENCE_CARD","ARMY_CARD","AIR_FORCE_CARD","GENDARMERIE_CARD","NAVY_CARD","POLICE_CARD","CIVIL_CARD","CITIZEN_CARD","PORTO_SEGURO_TREATY_CARD","CPLP_RESIDENCE_PERMIT","PASSPORT","DRIVING_LICENCE"]},"docIdType2":{"type":"string","description":"The type of the second identification document (only available in some countries such as Portugal)","enum":["NATIONAL_ID","TEMPORARY_RESIDENT","PERMANENT_RESIDENT","CIF","EU_RESIDENCE_CARD","ARMY_CARD","AIR_FORCE_CARD","GENDARMERIE_CARD","NAVY_CARD","POLICE_CARD","CIVIL_CARD","CITIZEN_CARD","PORTO_SEGURO_TREATY_CARD","CPLP_RESIDENCE_PERMIT","PASSPORT","DRIVING_LICENCE"]},"docIdNumber":{"type":"string","description":"The actual value of the identification document"},"docIdNumber2":{"type":"string","description":"The actual value of the second identification document (only available in some countries such as Portugal)"},"docIdExpirationDate":{"type":"string","description":"Expiration date of the identification number ('9999-01-01' in the case of perpetual documents)","format":"date"},"drivingLicenceIssuanceDate":{"type":"string","description":"Driving license issuance date","format":"date"},"title":{"type":"string","description":"The applicant's title","enum":["SR_SRA","DR_DRA","ENG","ARQ","PRF"]},"firstName":{"type":"string"},"surname1":{"type":"string"},"surname2":{"type":"string"},"birthDate":{"type":"string","format":"date"},"nationalityIso":{"type":"string","description":"The ISO-3166-1 alpha-2 code of the nationality country"},"nationality2Iso":{"type":"string","description":"The ISO-3166-1 alpha-2 code of the second nationality country"},"paymentMethod":{"type":"string","description":"The payment method to be used","enum":["CCC","CREDIT_CARD"]},"cardNumber":{"type":"string","description":"The credit card number. Empty spaces and non alphanumeric characters will be removed. This field should have a value only when the paymentMethod field is CREDIT_CARD"},"accountNumber":{"type":"string","description":"The account number, should only by specified when the paymentMethod is CCC. It can be either an account number or an IBAN"},"accountCreationDate":{"type":"string","description":"The date when the account specified in the previous field (accountNumber) has been created","format":"date"},"email":{"type":"string"},"socialSecurityNumber":{"type":"string"},"phoneType1":{"type":"string","enum":["LANDLINE","MOBILE"]},"phone1":{"type":"string"},"phoneType2":{"type":"string","enum":["LANDLINE","MOBILE"]},"phone2":{"type":"string"},"address":{"$ref":"#/components/schemas/Address"},"residencyStartDate":{"type":"string","description":"The date when the applicant started his/her residency. Should only be specified when the docIdType is not NATIONAL_ID","format":"date"},"residencyEndDate":{"type":"string","description":"The date when the applicant ends his/her residency. Should only be specified when the docIdType is not NATIONAL_ID","format":"date"},"nativeAddress":{"$ref":"#/components/schemas/Address"},"gender":{"type":"string","enum":["MALE","FEMALE"]},"maritalStatus":{"type":"string","enum":["SINGLE","PARTNERSHIP","MARRIED_COMMUNITY","MARRIED_SEPARATION","SEPARATED","DIVORCED","WIDOWED"]},"dependent":{"type":"integer","description":"The number of dependant persons the applicant has (children, ancestors, or both)","format":"int32"},"housingTenureType":{"type":"string","description":"Type of property ownership / tenure of the house where the applicant lives","enum":["OWN_MORTGAGE","OWN_OUTRIGHT","RENTED","PARENTS","SPOUSE","OTHER_RELATIVES","EMPLOYER","LEASE_TO_OWN","USUFRUCT","RENTED_ROOM","RESIDENT_ABROAD","OTHER"]},"housingTenureStartDate":{"type":"string","description":"The date when the applicant started to live in the house described by the previous field (housingTenureType)","format":"date"},"housingExpenses":{"type":"string","description":"The monthly housing related expenses"},"otherExpenses":{"type":"string","description":"Other monthly expenses the applicant may have, existing loans etc."},"occupationType":{"type":"string","description":"The applicant's occupation type","enum":["PUBLIC_EMPLOYEE","PRIVATE_EMPLOYEE","SELF_EMPLOYED","INACTIVE"]},"occupation":{"type":"string","description":"The specific occupation the applicant has","enum":["PERMANENT_CIVIL_SERVANT","TEMPORARY_UNDETERMINED_CIVIL_SERVANT","TEMPORARY_CIVIL_SERVANT","PERMANENT_NON_CAREER","TEMPORARY_NON_CAREER","TEMPORARY_AGENCY_CIVIL_SERVANT","PERMANENT","TEMPORARY_UNDETERMINED","TEMPORARY","TEMPORARY_AGENCY","PERMANENT_SEASONAL","SERVICE_CONTRACT","APPRENTICESHIP","INTERN","FREELANCE","LIBERAL_PROFESSIONAL","COMPANY_OWNER","RETIREMENT_PENSION","TEMPORARY_DISABILITY_PENSION","PERMANENT_DISABILITY_PENSION","ORPHANHOOD_PENSION","SURVIVOR_PENSION","OTHER_PENSION","HOUSEWIFE","UNEMPLOYED","STUDENT","RENTIER","OTHER"]},"profession":{"type":"string","description":"If the applicant is a salaried employee, the applicant's profession","enum":["ATTORNEY","ADMINISTRATOR","FARMER","ARCHITECT","ARTIST","WAITER","CHEF","AGENT","CONCIERGE","CONSULTANT","ACCOUNTANT","DRAFTSMAN","DENTIST","SHOP_ASSISTANT","SPORTSMAN","DIPLOMATIC","ECONOMIST","ELECTRICAL_TECHNICIAN","TIPPED_EMPLOYEE","BANKING_CLERK","NURSE","WRITER","STATISCIAN_OR_MATHEMATICIAN","PHARMACIST","PLUMBER","PRISONS_OFFICIAL","COMPUTER_ENGINEER","ENGINEER","INVESTIGATOR","CLEANING","SAILOR","DOCTOR","MILITARY","WORKER","JOURNALIST","PRIVATE_SECURITY","PAINTER","POLICE","TEACHER","RELIGIOUS","PERSONAL_ASSISTANT","CARRIER","SALES_REP","ONCE_SALESMAN","VET","OTHER_TECHNICIANS","OTHER_UNSKILLED"]},"jobTitle":{"type":"string","description":"If the applicant is a salaried employee, the applicant's job title / level of responsibility","enum":["SENIOR_MANAGER","MANAGER","MIDDLE_MANAGEMENT","ADVANCED_TECHNICIAN","TECHNICIAN","OFFICE_CLERK","SUPERVISOR","SKILLED_WORKER","UNSKILLED_WORKER","CONSTRUCTION_WORKER","SALESMAN","COMMISSION_AGENT"]},"industryType":{"type":"string","description":"The industry area in which the applicant's work takes place (only applies to public / private employees and the self-employed)","enum":["AGRICULTURE_LIVESTOCK_FISHING","MINING_AND_QUARRYING","MANUFACTURING","ENERGY_SUPPLY","WATER_SUPPLY","CONSTRUCTION","RETAIL","TRANSPORTATION_STORAGE_POST","HOSPITALITY","MEDIA_IT","BANK_INSURANCE","REAL_ESTATE","TECHNICAL_ACTIVITIES","ADMINISTRATIVE_AND_SUPPORT","GOVERNMENTAL","EDUCATION","HEALTH_SOCIAL_SERVICES","ARTS_ENTERTAINMENT","OTHER_SERVICES","HOUSEHOLDS","EXTRATERRITORIAL_ORGANISATIONS"]},"industry":{"type":"string","description":"The specific industry in which the applicant's work takes place (only applies to public / private employees and the self-employed)","enum":["AGRICULTURE","LIVESTOCK","FISHING","MINING","FOOD","TEXTILE","LEATHER","WOOD","PAPER","CHEMISTRY","PLASTIC","WEAPONS","MACHINERY","MACHINERY_REPAIR","INDUSTRY_OTHERS","ENERGY_SUPPLY","WATER_SUPPLY","REAL_ESTATE","CIVIL_ENGINEERING","ELECTRICAL_INSTALLATIONS","PLUMBING","CARPENTRY","PAINTING","CONSTRUCTION_OTHERS","STREET_VENDING_FOOD","STREET_VENDING_TEXTILE","STREET_VENDING_OTHER","FOOD_RETAILERS","PHARMACIES","RETAIL_OTHERS","TAXI","PASSENGER_TRANSPORT","FREIGHT_TRANSPORT","MOVING_SERVICES","MAIL","TRANSPORT_OTHERS","HOTELS","RESTAURANTS_AND_BARS","MEDIA","IT_CONSULTING","IT_OTHERS","INTERNET","TELECOMMUNICATIONS","BANKING","INSURANCE","FINANCE_OTHERS","REAL_ESTATE_AGENCIES","LEGAL","ADVISORY","ARCHITECTURE","RESEARCH","ADVERTISING","TECHNICAL_OTHERS","ADMINISTRATIVE_AND_SUPPORT","PUBLIC_ADMINISTRATION","CULTURAL","ARMY","PUBLIC_ADMINISTRATION_OTHERS","EDUCATION_SPORTS_LEISURE","EDUCATION_DRIVING","EDUCATION_OTHERS","VETERINARY_ACTIVITIES","DENTAL","MEDICAL","ELDERLY","HEALTH_OTHERS","ARTS_AND_ENTERTAINMENT","LIBRARIES_AND_MUSEUMS","GAMBLING","SPORTS","ARTS_AND_ENTERTAINMENT_OTHER","RELIGIOUS_ORGANIZATIONS","POLITICAL_ORGANIZATIONS","OTHER_ASSOCIATIVE_ACTIVITIES","REPAIR","COLLECTION","TRAVEL_AGENCIES","CLEANING_SERVICES","GARDENING","SECURITY","BEAUTY","PACKAGING","SKILLED_SERVICES_OTHER","UNSKILLED_SERVICES_OTHER","DOMESTIC_SERVANTS","EXTRATERRITORIAL_ORGANISATIONS"]},"contractStartDate":{"type":"string","description":"Starting date of the applicant's current job (only applies to public / private employees)","format":"date"},"contractEndDate":{"type":"string","description":"Contract end job of the applicant's current job (only applies to temporary public / private employees)","format":"date"},"companyIdNumber":{"type":"string","description":"The company's identification number"},"companyPhone":{"type":"string","description":"The applicant's working telephone number (only applies to public / private employees and the self-employed)"},"companyName":{"type":"string","description":"Name of the company where the applicant works (only applies to public / private employees)"},"companyAddress":{"$ref":"#/components/schemas/Address"},"monthlyIncome":{"type":"string","description":"The applicant's monthly net income (it may be subject to proof of income)"},"incomeFrequency":{"type":"integer","description":"Number of pay periods in which the applicant's annual income is paid, usually 12/14 (it doesn't apply to the self employed)","format":"int32"},"consentGroup":{"type":"boolean","description":"Indicates if the applicant has already given its consent to the merchant's policies"}},"description":"Represents the person that is going to apply for a loan."},"Application":{"required":["merchant"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"applicants":{"maxItems":2,"minItems":1,"type":"array","description":"Represents the collection of applicants who are applying for a loan. At least one applicant is required","items":{"$ref":"#/components/schemas/Applicant"}},"merchant":{"$ref":"#/components/schemas/Merchant"},"order":{"$ref":"#/components/schemas/Order"},"loanDetails":{"$ref":"#/components/schemas/LoanDetails"},"sendLeadEmail":{"type":"boolean","description":"If the flag is true an email will be sent to the main applicant informing him/her that an Application has been created. Please note that if this flag is set to true,  the MAIN_APPLICANT's email field should have a valid value. Also, if this flag is true the managedBy field will be set to APPLICANT automatically"},"phoneValidationRequired":{"type":"boolean","description":"If the flag is false mobile phone validation will be skipped"},"signatureDisabled":{"type":"boolean","description":"If this flag is true the signature will be disabled until it is set to false"},"managedBy":{"type":"string","description":"Indicates who is responsible for managing the Application creation and submission","default":"AGENT","enum":["APPLICANT","AGENT"]},"applicationTtlSec":{"type":"integer","description":"Indicates for how long you as as merchant are willing to keep an application alive in seconds. This value will determine for how long the 'token' field will be valid. If this field is not specified and the 'managedBy' field is set to APPLICANT, a default value of one week will be assigned","format":"int32"},"sessionTtlSec":{"type":"integer","description":"Indicates how long the session in Lendismart will last in seconds once you've opened the widget via the 'openCheckout' method of the JavaScript SDK or you have redirected the user to the applicantUrl. You should try to align the Lendismart session ttl with you own session ttl. Only applies if the 'managedBy' field is set to APPLICANT.","format":"int32"},"primaryColor":{"type":"string","description":"Allows for the customization of the UI color (only appli
[...]
