openapi: 3.0.1
info:
  title: Lendismart API
  version: v2.0.0
servers:
- description: Generated server url
  url: https://api-sandbox.lendismart.com/api
security:
- api_key: []
paths:
  /v2/users/{id}:
    get:
      operationId: getUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "200":
          content:
            application/json:
              example:
                id: 24a4c32f-cd3c-450d-85ce-292c94214218
                username: maria
                state: ACTIVE
                firstName: Maria
                surname1: Martinez
                surname2: Fernandez
                phone1: "611611611"
                email: maria@test.com
                docIdType: NATIONAL_ID
                docIdType2: NATIONAL_ID
                docIdNumber: 11111111H
                docIdNumber2: 38765668L
                language: es_ES
                merchants:
                - TEST_GROUP
                roles:
                - TEST
              schema:
                $ref: '#/components/schemas/User'
          description: User recovered successfully
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Retrieves user information
      tags:
      - User
      x-accepts:
      - application/json
    patch:
      operationId: patchUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/merge-patch+json:
            example:
              surname1: Surname1
              surname2: Surname2
            schema:
              $ref: '#/components/schemas/User'
        description: Payload including the fields that we want to patch from the User
        required: true
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "200":
          content:
            application/json:
              example:
                username: maria
                state: ACTIVE
                firstName: Maria
                surname1: Martinez
                surname2: Fernandez
                phone1: "611611611"
                email: maria@test.com
                docIdType: NATIONAL_ID
                docIdType2: NATIONAL_ID
                docIdNumber: 11111111H
                docIdNumber2: 38765668L
                language: es_ES
                merchants:
                - TEST_GROUP
                roles:
                - TEST
              schema:
                $ref: '#/components/schemas/User'
          description: The user has been successfully patched
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Patches a user
      tags:
      - User
      x-content-type: application/merge-patch+json
      x-accepts:
      - application/json
    put:
      operationId: updateUser
      parameters:
      - description: The id of the user
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              username: maria
              state: ACTIVE
              firstName: Maria
              surname1: Martinez
              surname2: Fernandez
              phone1: "611611611"
              email: maria@test.com
              docIdType: NATIONAL_ID
              docIdType2: NATIONAL_ID
              docIdNumber: 11111111H
              docIdNumber2: 38765668L
              language: es_ES
              merchants:
              - TEST_GROUP
              roles:
              - TEST
            schema:
              $ref: '#/components/schemas/User'
        description: The payload of the user that is about to be updated
        required: true
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "200":
          content:
            application/json:
              example:
                id: 24a4c32f-cd3c-450d-85ce-292c94214218
                username: maria
                state: ACTIVE
                firstName: Maria
                surname1: Martinez
                surname2: Fernandez
                phone1: "611611611"
                email: maria@test.com
                docIdType: NATIONAL_ID
                docIdType2: NATIONAL_ID
                docIdNumber: 11111111H
                docIdNumber2: 38765668L
                language: es_ES
                merchants:
                - TEST_GROUP
                roles:
                - TEST
              schema:
                $ref: '#/components/schemas/User'
          description: The user has been successfully updated
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Updates a user
      tags:
      - User
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/applications/{id}:
    get:
      operationId: getApplication
      parameters:
      - description: "The id of the application, it can be a uuid or a numeric value.\
          \ If the passed value is neither an uuid nor a numeric (integer) value an\
          \ error will be thrown."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
        "200":
          content:
            application/json:
              example:
                applicants:
                - role: MAIN_APPLICANT
                  docIdType: NATIONAL_ID
                  docIdType2: EU_RESIDENCE_CARD
                  docIdNumber: 50726711G
                  docIdNumber2: "297708325"
                  title: SR_SRA
                  firstName: Ana
                  surname1: Martínez
                  surname2: Sánchez
                  birthDate: 1990-06-19
                  nationality: SPAIN
                  nationality2: PORTUGAL
                  accountNumber: ES7420589288659524800210
                  email: ana_sanchez@gmail.com
                  socialSecurityNumber: 000-00-0000
                  phoneType1: LANDLINE
                  phone1: "976886521"
                  phoneType2: MOBILE
                  phone2: "678321666"
                  address:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  paymentMethod: CCC
                  accountCreationDate: 2020-05-27T10:14:05.233Z
                  docIdExpirationDate: 2020-05-27T10:14:05.233Z
                  drivingLicenceIssuanceDate: 2018-05-27T10:14:05.233Z
                  nativeAddress:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  gender: FEMALE
                  maritalStatus: SINGLE
                  dependent: 0
                  housingTenureType: OWN_MORTGAGE
                  housingTenureStartDate: 2020-05-27T10:14:05.233Z
                  housingExpenses: "250.00"
                  otherExpenses: "0.00"
                  occupationType: PUBLIC_EMPLOYEE
                  occupation: PERMANENT_CIVIL_SERVANT
                  profession: ATTORNEY
                  jobTitle: SENIOR_MANAGER
                  industryType: AGRICULTURE_LIVESTOCK_FISHING
                  industry: AGRICULTURE
                  contractStartDate: 2020-05-27T10:14:05.233Z
                  contractEndDate: 2020-05-27T10:14:05.233Z
                  personType: NATURAL
                  companyIdNumber: Q2812599E
                  companyName: Company S.L
                  companyPhone: "976555222"
                  companyAddress:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  monthlyIncome: "1800"
                  incomeFrequency: 12
                  consentGroup: true
                merchant:
                  code: MERC_12
                  user: user@corporation.com
                order:
                  goodsType: HEALTHCARE
                  serviceDuration: ZERO_TO_THREE_MONTHS
                  reference: AB33123D
                  purchaseAmount: "1500.00"
                loanDetails:
                  financingPromotion: 0
                  openingFeePct: 0
                  term: 12
                  productType: INTEREST_BEARING
                  gracePeriod: 1
                  monthlyDueDate: 1
                  feePaymentType: UPFRONT
                  insurance: true
                  noAccount: false
                  lenderCustomer: ABANCA
                  applicantType: PERSONAL
                  maxMerchantCost: 0
                id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                readableId: 12312837
                creationDate: 2020-05-27T10:39:49.786Z
                createdViaApi: true
                state: PENDING_SUBMISSION
                selectedOffer:
                  id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  lenderApplicationId1: 134KJKJFADF43234_3
                  lenderSignatureId: 134KJ223KJFADF43234_3
                  lender: ABANCA
                  submissionOrder: 3
                  signatureMethodUsed: SIGNED_BIOMETRIC
                  signatureDate: 2020-05-27T11:11:27.697Z
                  preapprovalDate: 2020-05-27T11:11:27.697Z
                  approvalDate: 2020-05-27T11:11:27.697Z
                  payOutDate: 2020-05-27T11:11:27.698Z
                  docsSubmitted: true
                  firstDocsSubmissionDate: 2020-05-27T11:11:27.698Z
                  loanAmount: "1500.00"
                  monthlyPayment: 125
                  productCode: PD_4234
                  term: 12
                  productType: INTEREST_BEARING
                  openingFeePct: 0
                  nir: 0.11
                  feePaymentType: UPFRONT
                  openingFeeUpfrontPayment: 0
                  gracePeriod: 0
                  insurance: true
                  insurancePaymentType: UPFRONT
                  insuranceUpfrontPayment: 0
                  merchantCost: 0
                  downPayment: 25
                  downPaymentStatus: REFUNDED
                  downPaymentTimestamp: 2020-06-27T11:11:27.698Z
                  selected: true
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: Application recovered successfully
      summary: Gets an existing application
      tags:
      - Application
      x-accepts:
      - application/json
    put:
      callbacks:
        Event notification:
          $request.body#/merchant/events/eventsURL:
            put:
              operationId: eventNotificationRequestBodyMerchantEventsEventsURLPut
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ApplicationEvent'
              responses: {}
              x-callback-request: true
      operationId: updateApplication
      parameters:
      - description: "The id of the application, it can be a uuid or a numeric value.\
          \ If the passed value is neither an uuid nor a numeric (integer) value an\
          \ error will be thrown."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: validate
        required: false
        schema:
          default: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            example:
              applicants:
              - role: MAIN_APPLICANT
                docIdType: NATIONAL_ID
                docIdType2: EU_RESIDENCE_CARD
                docIdNumber: 50726711G
                docIdNumber2: "297708325"
                title: SR_SRA
                firstName: Ana
                surname1: Martínez
                surname2: Sánchez
                birthDate: 1990-06-19
                nationality: SPAIN
                nationality2: PORTUGAL
                accountNumber: ES7420589288659524800210
                email: ana_sanchez@gmail.com
                socialSecurityNumber: 000-00-0000
                phoneType1: LANDLINE
                phone1: "976886521"
                phoneType2: MOBILE
                phone2: "678321666"
                address:
                  streetType: CALLE
                  street: Lagasca
                  number: 31
                  block: "2"
                  stairs: "2"
                  floor: 3
                  door: A
                  complement: DUPL
                  postalCode: "28001"
                  province: MADRID
                  country: SPAIN
                paymentMethod: CCC
                accountCreationDate: 2020-05-27T10:14:05.233Z
                docIdExpirationDate: 2020-05-27T10:14:05.233Z
                drivingLicenceIssuanceDate: 2018-05-27T10:14:05.233Z
                nativeAddress:
                  streetType: CALLE
                  street: Lagasca
                  number: 31
                  block: "2"
                  stairs: "2"
                  floor: 3
                  door: A
                  complement: DUPL
                  postalCode: "28001"
                  province: MADRID
                  country: SPAIN
                gender: FEMALE
                maritalStatus: SINGLE
                dependent: 0
                housingTenureType: OWN_MORTGAGE
                housingTenureStartDate: 2020-05-27T10:14:05.233Z
                housingExpenses: "250.00"
                otherExpenses: "0.00"
                occupationType: PUBLIC_EMPLOYEE
                occupation: PERMANENT_CIVIL_SERVANT
                profession: ATTORNEY
                jobTitle: SENIOR_MANAGER
                industryType: AGRICULTURE_LIVESTOCK_FISHING
                industry: AGRICULTURE
                contractStartDate: 2020-05-27T10:14:05.233Z
                contractEndDate: 2020-05-27T10:14:05.233Z
                personType: NATURAL
                companyIdNumber: Q2812599E
                companyName: Company S.L
                companyPhone: "976555222"
                companyAddress:
                  streetType: CALLE
                  street: Lagasca
                  number: 31
                  block: "2"
                  stairs: "2"
                  floor: 3
                  door: A
                  complement: DUPL
                  postalCode: "28001"
                  province: MADRID
                  country: SPAIN
                monthlyIncome: "1800"
                incomeFrequency: 12
                consentGroup: true
              merchant:
                code: MERC_12
                user: user@corporation.com
              order:
                goodsType: HEALTHCARE
                serviceDuration: ZERO_TO_THREE_MONTHS
                reference: AB33123D
                purchaseAmount: "1500.00"
              loanDetails:
                requestedAmount: "1500.00"
                financingPromotion: 0
                openingFeePct: 0
                term: 12
                productType: INTEREST_BEARING
                gracePeriod: 1
                monthlyDueDate: 1
                feePaymentType: UPFRONT
                insurance: true
                noAccount: false
                lenderCustomer: ABANCA
                applicantType: PERSONAL
                maxMerchantCost: 0
            schema:
              $ref: '#/components/schemas/Application'
        description: The payload of the application that is about to be updated
        required: true
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "200":
          content:
            application/json:
              example: |-
                {
                  "applicants": [
                    {
                      "role": "MAIN_APPLICANT",
                      "docIdType": "NATIONAL_ID",
                      "docIdType2": "EU_RESIDENCE_CARD",
                      "docIdNumber": "50726711G",
                      "docIdNumber2": "297708325",
                      "title": "SR_SRA",
                      "firstName": "Ana",
                      "surname1": "Martínez",
                      "surname2": "Sánchez",
                      "birthDate": "1990-06-19",
                      "nationality": "SPAIN",
                      "nationality2": "PORTUGAL",
                      "accountNumber": "ES7420589288659524800210",
                      "email": "ana_sanchez@gmail.com",
                      "socialSecurityNumber": "000-00-0000",
                      "phoneType1": "LANDLINE",
                      "phone1": "976886521",
                      "phoneType2": "MOBILE",
                      "phone2": "678321666",
                      "address": {
                        "streetType": "CALLE",
                        "street": "Lagasca",
                        "number": 31,
                        "block": "2",
                        "stairs": "2",
                        "floor": 3,
                        "door": "A",
                        "complement": "DUPL",
                        "postalCode": "28001",
                        "province": "MADRID",
                        "country": "SPAIN"
                      },
                      "paymentMethod": "CCC",
                      "accountCreationDate": "2020-05-27T10:14:05.233Z",
                      "docIdExpirationDate": "2020-05-27T10:14:05.233Z",
                      "drivingLicenceIssuanceDate": "2018-05-27T10:14:05.233Z",
                      "nativeAddress": {
                        "streetType": "CALLE",
                        "street": "Lagasca",
                        "number": 31,
                        "block": "2",
                        "stairs": "2",
                        "floor": 3,
                        "door": "A",
                        "complement": "DUPL",
                        "postalCode": "28001",
                        "province": "MADRID",
                        "country": "SPAIN"
                      },
                      "gender": "FEMALE",
                      "maritalStatus": "SINGLE",
                      "dependent": 0,
                      "housingTenureType": "OWN_MORTGAGE",
                      "housingTenureStartDate": "2020-05-27T10:14:05.233Z",
                      "housingExpenses": "250.00",
                      "otherExpenses": "0.00",
                      "occupationType": "PUBLIC_EMPLOYEE",
                      "occupation": "PERMANENT_CIVIL_SERVANT",
                      "profession": "ATTORNEY",
                      "jobTitle": "SENIOR_MANAGER",
                      "industryType": "AGRICULTURE_LIVESTOCK_FISHING",
                      "industry": "AGRICULTURE",
                      "contractStartDate": "2020-05-27T10:14:05.233Z",
                      "contractEndDate": "2020-05-27T10:14:05.233Z",
                      "personType": "NATURAL",
                      "companyIdNumber": "Q2812599E",
                      "companyName": "Company S.L",
                      "companyPhone": "976555222",
                      "companyAddress": {
                        "streetType": "CALLE",
                        "street": "Lagasca",
                        "number": 31,
                        "block": "2",
                        "stairs": "2",
                        "floor": 3,
                        "door": "A",
                        "complement": "DUPL",
                        "postalCode": "28001",
                        "province": "MADRID",
                        "country": "SPAIN"
                      },
                      "monthlyIncome": "1800",
                      "incomeFrequency": 12,
                      "consentGroup": true
                    }
                  ],
                  "merchant": {
                    "code": "MERC_12",
                    "user": "user@corporation.com"
                  },
                  "order": {
                    "goodsType": "HEALTHCARE",
                    "serviceDuration": "ZERO_TO_THREE_MONTHS",
                    "reference": "AB33123D",
                    "purchaseAmount": "1500.00"
                  },
                  "loanDetails": {
                    "financingPromotion": 0,
                    "openingFeePct": 0,
                    "term": 12,
                    "productType": "INTEREST_BEARING",
                    "gracePeriod": 1,
                    "monthlyDueDate": 1,
                    "feePaymentType": "UPFRONT",
                    "insurance": true,
                    "noAccount": false,
                    "lenderCustomer": "ABANCA",
                    "applicantType": "PERSONAL",
                    "maxMerchantCost": 0
                  },
                  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                  "readableId": 12312837,
                  "creationDate": "2020-05-27T10:39:49.786Z",
                  "createdViaApi": true,
                  "state": "PENDING_SUBMISSION",
                }
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: The application has been successfully updated
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Updates an application
      tags:
      - Application
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/applications/{id}/return:
    put:
      description: "Will commence the loan return process for an approved loan, which\
        \ may, depending on the Group's settings, necessitate specific internal approvals."
      operationId: offerReturnRequest
      parameters:
      - description: "The id of the application, it can be a uuid or a numeric value.\
          \ If the passed value is neither an uuid nor a numeric (integer) value an\
          \ error will be thrown."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              username: test1@test.com
              amount: "1500"
              comments: Comments example
            schema:
              $ref: '#/components/schemas/ReturnRequest'
        description: The return request payload
        required: true
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
        "200":
          content:
            application/json:
              example:
                applicants:
                - role: MAIN_APPLICANT
                  docIdType: NATIONAL_ID
                  docIdType2: EU_RESIDENCE_CARD
                  docIdNumber: 50726711G
                  docIdNumber2: "297708325"
                  title: SR_SRA
                  firstName: Ana
                  surname1: Martínez
                  surname2: Sánchez
                  birthDate: 1990-06-19
                  nationality: SPAIN
                  nationality2: PORTUGAL
                  accountNumber: ES7420589288659524800210
                  email: ana_sanchez@gmail.com
                  socialSecurityNumber: 000-00-0000
                  phoneType1: LANDLINE
                  phone1: "976886521"
                  phoneType2: MOBILE
                  phone2: "678321666"
                  address:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  paymentMethod: CCC
                  accountCreationDate: 2020-05-27T10:14:05.233Z
                  docIdExpirationDate: 2020-05-27T10:14:05.233Z
                  drivingLicenceIssuanceDate: 2018-05-27T10:14:05.233Z
                  nativeAddress:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  gender: FEMALE
                  maritalStatus: SINGLE
                  dependent: 0
                  housingTenureType: OWN_MORTGAGE
                  housingTenureStartDate: 2020-05-27T10:14:05.233Z
                  housingExpenses: "250.00"
                  otherExpenses: "0.00"
                  occupationType: PUBLIC_EMPLOYEE
                  occupation: PERMANENT_CIVIL_SERVANT
                  profession: ATTORNEY
                  jobTitle: SENIOR_MANAGER
                  industryType: AGRICULTURE_LIVESTOCK_FISHING
                  industry: AGRICULTURE
                  contractStartDate: 2020-05-27T10:14:05.233Z
                  contractEndDate: 2020-05-27T10:14:05.233Z
                  personType: NATURAL
                  companyIdNumber: Q2812599E
                  companyName: Company S.L
                  companyPhone: "976555222"
                  companyAddress:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  monthlyIncome: "1800"
                  incomeFrequency: 12
                  consentGroup: true
                merchant:
                  code: MERC_12
                  user: user@corporation.com
                order:
                  goodsType: HEALTHCARE
                  serviceDuration: ZERO_TO_THREE_MONTHS
                  reference: AB33123D
                  purchaseAmount: "1500.00"
                loanDetails:
                  requestedAmount: "1500.00"
                  financingPromotion: 0
                  openingFeePct: 0
                  term: 12
                  productType: INTEREST_BEARING
                  gracePeriod: 1
                  monthlyDueDate: 1
                  feePaymentType: UPFRONT
                  insurance: true
                  noAccount: false
                  lenderCustomer: ABANCA
                  applicantType: PERSONAL
                  maxMerchantCost: 0
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: The application
      summary: Initiates the return of an approved loan
      tags:
      - Application
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/applications/{id}/cancel:
    put:
      description: The application state will be updated to CANCELED and offer cancellation
        requests will be submitted to the lenders that support this feature
      operationId: cancelApplication
      parameters:
      - description: "The id of the application, it can be a uuid or a numeric value.\
          \ If the passed value is neither an uuid nor a numeric (integer) value an\
          \ error will be thrown."
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              cancellationReason: ILLNESS
              username: test1@test.com
            schema:
              $ref: '#/components/schemas/CancelApplication'
        description: The application cancellation payload
        required: true
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
        "200":
          content:
            application/json:
              example:
                applicants:
                - role: MAIN_APPLICANT
                  docIdType: NATIONAL_ID
                  docIdType2: EU_RESIDENCE_CARD
                  docIdNumber: 50726711G
                  docIdNumber2: "297708325"
                  title: SR_SRA
                  firstName: Ana
                  surname1: Martínez
                  surname2: Sánchez
                  birthDate: 1990-06-19
                  nationality: SPAIN
                  nationality2: PORTUGAL
                  accountNumber: ES7420589288659524800210
                  email: ana_sanchez@gmail.com
                  socialSecurityNumber: 000-00-0000
                  phoneType1: LANDLINE
                  phone1: "976886521"
                  phoneType2: MOBILE
                  phone2: "678321666"
                  address:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  paymentMethod: CCC
                  accountCreationDate: 2020-05-27T10:14:05.233Z
                  docIdExpirationDate: 2020-05-27T10:14:05.233Z
                  drivingLicenceIssuanceDate: 2018-05-27T10:14:05.233Z
                  nativeAddress:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  gender: FEMALE
                  maritalStatus: SINGLE
                  dependent: 0
                  housingTenureType: OWN_MORTGAGE
                  housingTenureStartDate: 2020-05-27T10:14:05.233Z
                  housingExpenses: "250.00"
                  otherExpenses: "0.00"
                  occupationType: PUBLIC_EMPLOYEE
                  occupation: PERMANENT_CIVIL_SERVANT
                  profession: ATTORNEY
                  jobTitle: SENIOR_MANAGER
                  industryType: AGRICULTURE_LIVESTOCK_FISHING
                  industry: AGRICULTURE
                  contractStartDate: 2020-05-27T10:14:05.233Z
                  contractEndDate: 2020-05-27T10:14:05.233Z
                  personType: NATURAL
                  companyIdNumber: Q2812599E
                  companyName: Company S.L
                  companyPhone: "976555222"
                  companyAddress:
                    streetType: CALLE
                    street: Lagasca
                    number: 31
                    block: "2"
                    stairs: "2"
                    floor: 3
                    door: A
                    complement: DUPL
                    postalCode: "28001"
                    province: MADRID
                    country: SPAIN
                  monthlyIncome: "1800"
                  incomeFrequency: 12
                  consentGroup: true
                merchant:
                  code: MERC_12
                  user: user@corporation.com
                order:
                  goodsType: HEALTHCARE
                  serviceDuration: ZERO_TO_THREE_MONTHS
                  reference: AB33123D
                  purchaseAmount: "1500.00"
                loanDetails:
                  requestedAmount: "1500.00"
                  financingPromotion: 0
                  openingFeePct: 0
                  term: 12
                  productType: INTEREST_BEARING
                  gracePeriod: 1
                  monthlyDueDate: 1
                  feePaymentType: UPFRONT
                  insurance: true
                  noAccount: false
                  lenderCustomer: ABANCA
                  applicantType: PERSONAL
                  maxMerchantCost: 0
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
          description: The application
      summary: Cancels an application if possible (i.e. if its state is not APPROVED
        nor RETURNED).
      tags:
      - Application
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/users:
    get:
      operationId: searchUser
      parameters:
      - description: "If this parameter is specified, standard pagination will be\
          \ performed, returning the users corresponding to the indicated page (0\
          \ based indexed) for the indicated page size. For example: page=2&pageSize=10\
          \ will return the results (20-29). The results will be sorted by descending\
          \ creation date."
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Maximum number of users to be returned. If not specified, 20\
          \ users will be returned by default.."
        example: 15
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: "If the \"page\" parameter has not been specified, the search\
          \ will use cursor-based pagination. Each search result will include a nextPageToken\
          \ field in the \"meta\" section. This nextPageToken must be included as\
          \ a pageToken in the following request in order to get the next page of\
          \ users. The initial search should not include pageToken. The results will\
          \ always be returned ordered by descending creation date."
        example: MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Name of the user you want to search for. Results whose username
          begins with this value will be returned.
        example: francisco
        explode: true
        in: query
        name: usernameStartsWith
        required: false
        schema:
          type: string
        style: form
      - description: Users created prior to the date will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Users created after the date will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Users whose state matches one of the values in this array will
          be returned.
        example: stateIn=INACTIVE&stateIn=LOCKED
        explode: true
        in: query
        name: stateIn
        required: false
        schema:
          items:
            enum:
            - ACTIVE
            - INACTIVE
            - LOCKED
            - EXPIRED
            - DELETED
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "200":
          content:
            application/json:
              examples:
                Standard pagination:
                  description: Standard pagination
                  value:
                    data:
                    - id: 24a4c32f-cd3c-450d-85ce-292c94214218
                      username: maria
                      state: ACTIVE
                      firstName: María
                      surname1: Martinez
                      surname2: Fernandez
                      phone1: "611611611"
                      email: mmartinez@test.com
                      docIdType: NATIONAL_ID
                      docIdType2: NATIONAL_ID
                      docIdNumber: 11111111H
                      docIdNumber2: 38765668L
                      language: es_ES
                      merchants:
                      - TEST_GROUP
                      roles:
                      - TEST
                    meta:
                      total: "328"
                      hasMore: true
                Cursor pagination:
                  description: Cursor pagination
                  value:
                    data:
                    - id: 24a4c32f-cd3c-450d-85ce-292c94214218
                      username: maria
                      state: ACTIVE
                      firstName: María
                      surname1: Martinez
                      surname2: Fernandez
                      phone1: "611611611"
                      email: mmartinez@test.com
                      docIdType: NATIONAL_ID
                      docIdType2: NATIONAL_ID
                      docIdNumber: 11111111H
                      docIdNumber2: 38765668L
                      language: es_ES
                      merchants:
                      - TEST_GROUP
                      roles:
                      - TEST
                    meta:
                      nextPageToken: MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3
                      hasMore: true
              schema:
                $ref: '#/components/schemas/UserApiSearchResponse'
          description: User recovered successfully
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Search users information
      tags:
      - User
      x-accepts:
      - application/json
    post:
      operationId: createUser
      requestBody:
        content:
          application/json:
            example:
              username: maria
              state: ACTIVE
              firstName: Maria
              surname1: Martinez
              surname2: Fernandez
              phone1: "611611611"
              email: maria@test.com
              docIdType: NATIONAL_ID
              docIdType2: NATIONAL_ID
              docIdNumber: 11111111H
              docIdNumber2: 38765668L
              language: es_ES
              merchants:
              - TEST_GROUP
              roles:
              - TEST
            schema:
              $ref: '#/components/schemas/User'
        description: The payload of the user that is about to be created
        required: true
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "201":
          content:
            application/json:
              example:
                id: 24a4c32f-cd3c-450d-85ce-292c94214218
                username: maria
                state: ACTIVE
                firstName: Maria
                surname1: Martinez
                surname2: Fernandez
                phone1: "611611611"
                email: maria@test.com
                docIdType: NATIONAL_ID
                docIdType2: NATIONAL_ID
                docIdNumber: 11111111H
                docIdNumber2: 38765668L
                language: es_ES
                merchants:
                - TEST_GROUP
                roles:
                - TEST
              schema:
                $ref: '#/components/schemas/User'
          description: The user has been successfully created
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Creates a new user
      tags:
      - User
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/simulation:
    post:
      operationId: createLoanSimulation
      requestBody:
        content:
          application/json:
            example:
              merchantCode: VORWERK_THERMOMIX_QD
              goodsTypeCode: TM_STANDARD_PROMO_1
              requestedAmount: "1200"
              term: 6
              gracePeriod: null
              purchaseAmount: "1200"
              applicantType: PERSONAL
              languageTag: es
            schema:
              $ref: '#/components/schemas/ApiLoanSimulationPayload'
        description: The simulation payload
        required: true
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "200":
          content:
            application/json:
              example:
                purchaseAmount: 1200
                loanAmount: 1150
                term: 6
                gracePeriod: 0
                openingFeePct: 0
                openingFeeCost: 0
                openingFeeUpfront: 0
                insuranceCost: 0
                insuranceUpfront: 0
                productType: INTEREST_BEARING
                productTypeLabel: Standard financing
                nir: 0.0995
                apr: 0.10400823340918941
                hasInsurance: false
                downPayment: 50
                monthlyPayment: 197.27
                finalPayment: 0
                totalPayments: 1183.62
                totalCost: 33.62
                totalInterest: 33.62
              schema:
                $ref: '#/components/schemas/LoanSimulationResponseDTO'
          description: The simulation has been successfully created
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Creates a simulation
      tags:
      - Simulation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v2/applications:
    get:
      operationId: searchApplications
      parameters:
      - description: "If this parameter is specified, standard pagination will be\
          \ performed, returning the applications corresponding to the indicated page\
          \ (0 based indexed) for the indicated page size. For example: page=2&pageSize=10\
          \ will return the results (20-29). The results will be sorted by descending\
          \ creation date."
        example: 0
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Maximum number of applications to be returned. If not specified,\
          \ 20 applications will be returned by default.."
        example: 15
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
      - description: "If the \"page\" parameter has not been specified, the search\
          \ will use cursor-based pagination. Each search result will include a nextPageToken\
          \ field in the \"meta\" section. This nextPageToken must be included as\
          \ a pageToken in the following request in order to get the next page of\
          \ applications. The initial search should not include pageToken. The results\
          \ will always be returned ordered by descending creation date."
        example: MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3
        explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      - description: Applications whose merchant code matches one of the values in
          this array will be returned.
        example: merchant=MERCHANT_CODE_1&merchant=MERCHANT_CODE_2
        explode: true
        in: query
        name: merchant
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Applications created after the date will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: fromDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications created prior to the date will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: toDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "If \"signed\" is true it will recover applications with offers\
          \ whose signature method equals to SIGNED_MANUAL, SIGNED_SMS or SIGNED_BIOMETRIC.\
          \ If \"signed\" is false will recover applications with offers whose signature\
          \ method is unset."
        example: true
        explode: true
        in: query
        name: signed
        required: false
        schema:
          type: boolean
        style: form
      - description: Applications whose documents are submitted or not.
        example: true
        explode: true
        in: query
        name: docsSubmitted
        required: false
        schema:
          type: boolean
        style: form
      - description: The application states to filter with.
        example: state=PENDING_DATA&state=PREAPPROVED
        explode: true
        in: query
        name: state
        required: false
        schema:
          items:
            enum:
            - APPROVED
            - PREAPPROVED
            - SUBMITTING
            - PENDING_REVIEW
            - PENDING_DATA
            - PENDING_SUBMISSION
            - DRAFT
            - ERROR
            - DENIED
            - CANCELED
            - RETURNED
            type: string
          type: array
        style: form
      - description: Applications whose offers states equal to the values.
        example: offerState=APPROVED&offerState=CANCELED
        explode: true
        in: query
        name: offerState
        required: false
        schema:
          items:
            enum:
            - APPROVED
            - PREAPPROVED
            - PENDING_REVIEW
            - PENDING_DATA
            - PENDING_SUBMISSION
            - SUBMITTING
            - DENIED
            - ERROR
            - CANCELED
            - RETURNED
            type: string
          type: array
        style: form
      - description: Applications whose selected offer lender code equals to the values.
        example: lender=ABANCA&lender=CAIXABANK
        explode: true
        in: query
        name: lender
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Applications whose motor vehicle registration number equals to
          the value.
        example: 1234ABC
        explode: true
        in: query
        name: registrationNumber
        required: false
        schema:
          type: string
        style: form
      - description: Applications whose motor vehicle vin number equals to the value.
        example: 1GNEK13ZX3R298984
        explode: true
        in: query
        name: vin
        required: false
        schema:
          type: string
        style: form
      - description: "If true, will return applications with offers whose state equals\
          \ to PREAPPROVED or PENDING_REVIEW with uploaded documents unsent."
        example: true
        explode: true
        in: query
        name: offerDocsSubmitted
        required: false
        schema:
          type: boolean
        style: form
      - description: Applications whose state is not CANCELED.
        example: true
        explode: true
        in: query
        name: isNotCancelled
        required: false
        schema:
          type: boolean
        style: form
      - description: Applications created by the user (username) you want to search
          for. Results whose username begins with this value will be returned.
        example: johndoe
        explode: true
        in: query
        name: createdByUsername
        required: false
        schema:
          type: string
        style: form
      - description: Applications created by the user with an identification document
          number.
        example: 22706647N
        explode: true
        in: query
        name: createdByDocIdNumber
        required: false
        schema:
          type: string
        style: form
      - description: Applications belonging to the group code values.
        example: groupCode=VORWERK&groupCode=GAES
        explode: true
        in: query
        name: groupCode
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Retrieves the application whose readable id number equals to
          the value.
        example: 38884464
        explode: true
        in: query
        name: readableId
        required: false
        schema:
          type: string
        style: form
      - description: Applications whose main's applicant address province equals to
          the value.
        example: MADRID
        explode: true
        in: query
        name: province
        required: false
        schema:
          enum:
          - ALAVA
          - ALBACETE
          - ALICANTE
          - ALMERIA
          - AVILA
          - BADAJOZ
          - BALEARES
          - BARCELONA
          - BURGOS
          - CACERES
          - CADIZ
          - CASTELLON
          - CIUDAD_REAL
          - CORDOBA
          - A_CORUNA
          - CUENCA
          - GERONA
          - GRANADA
          - GUADALAJARA
          - GUIPUZCOA
          - HUELVA
          - HUESCA
          - JAEN
          - LEON
          - LERIDA
          - LA_RIOJA
          - LUGO
          - MADRID
          - MALAGA
          - MURCIA
          - NAVARRA
          - ORENSE
          - ASTURIAS
          - PALENCIA
          - LAS_PALMAS
          - PONTEVEDRA
          - SALAMANCA
          - SANTA_CRUZ_DE_TENERIFE
          - CANTABRIA
          - SEGOVIA
          - SEVILLA
          - SORIA
          - TARRAGONA
          - TERUEL
          - TOLEDO
          - VALENCIA
          - VALLADOLID
          - VIZCAYA
          - ZAMORA
          - ZARAGOZA
          - CEUTA
          - MELILLA
          - AVEIRO
          - BEJA
          - BRAGA
          - BRAGANCA
          - CASTELO_BRANCO
          - COIMBRA
          - EVORA
          - FARO
          - GUARDA
          - LEIRIA
          - LISBOA
          - PORTALEGRE
          - PORTO
          - SANTAREM
          - SETUBAL
          - VIANA_DO_CASTELO
          - VILA_REAL
          - VISEU
          - ILHA_DA_MADEIRA
          - ILHA_DE_PORTO_SANTO
          - ILHA_DE_SANTA_MARIA
          - ILHA_DE_SAO_MIGUEL
          - ILHA_TERCEIRA
          - ILHA_DA_GRACIOSA
          - ILHA_DE_SAO_JORGE
          - ILHA_DO_PICO
          - ILHA_DO_FAIAL
          - ILHA_DAS_FLORES
          - ILHA_DO_CORVO
          - AGRIGENTO
          - ALESSANDRIA
          - ANCONA
          - VALLE_D_AOSTA
          - AREZZO
          - ASCOLI_PICENO
          - ASTI
          - AVELLINO
          - BARI
          - BARLETTA_ANDRIA_TRANI
          - BELLUNO
          - BENEVENTO
          - BERGAMO
          - BIELLA
          - BOLOGNA
          - BOLZANO
          - BRESCIA
          - BRINDISI
          - CAGLIARI
          - CALTANISSETTA
          - CAMPOBASSO
          - CASERTA
          - CATANIA
          - CATANZARO
          - CHIETI
          - COMO
          - COSENZA
          - CREMONA
          - CROTONE
          - CUNEO
          - ENNA
          - FERMO
          - FERRARA
          - FIRENZE
          - FOGGIA
          - FORLI_CESENA
          - FROSINONE
          - GENOVA
          - GORIZIA
          - GROSSETO
          - IMPERIA
          - ISERNIA
          - L_AQUILA
          - LA_SPEZIA
          - LATINA
          - LECCE
          - LECCO
          - LIVORNO
          - LODI
          - LUCCA
          - MACERATA
          - MANTOVA
          - MASSA_CARRARA
          - MATERA
          - MESSINA
          - MILANO
          - MODENA
          - MONZA_E_DELLA_BRIANZA
          - NAPOLI
          - NOVARA
          - NUORO
          - ORISTANO
          - PADOVA
          - PALERMO
          - PARMA
          - PAVIA
          - PERUGIA
          - PESARO_E_URBINO
          - PESCARA
          - PIACENZA
          - PISA
          - PISTOIA
          - PORDENONE
          - POTENZA
          - PRATO
          - RAGUSA
          - RAVENNA
          - REGGIO_CALABRIA
          - REGGIO_NELL_EMILIA
          - RIETI
          - RIMINI
          - ROMA
          - ROVIGO
          - SALERNO
          - SASSARI
          - SAVONA
          - SIENA
          - SIRACUSA
          - SONDRIO
          - SUD_SARDEGNA
          - TARANTO
          - TERAMO
          - TERNI
          - TORINO
          - TRAPANI
          - TRENTO
          - TREVISO
          - TRIESTE
          - UDINE
          - VARESE
          - VENEZIA
          - VERBANO_CUSIO_OSSOLA
          - VERCELLI
          - VERONA
          - VIBO_VALENTIA
          - VICENZA
          - VITERBO
          - AIN
          - AISNE
          - ALLIER
          - ALPES_DE_HAUTE_PROVENCE
          - HAUTES_ALPES
          - ALPES_MARITIMES
          - ARDECHE
          - ARDENNES
          - ARIEGE
          - AUBE
          - AUDE
          - AVEYRON
          - BOUCHES_DU_RHONE
          - CALVADOS
          - CANTAL
          - CHARENTE
          - CHARENTE_MARITIME
          - CHER
          - CORREZE
          - CORSE_DU_SUD
          - HAUTE_CORSE
          - COTE_D_OR
          - COTES_D_ARMOR
          - CREUSE
          - DORDOGNE
          - DOUBS
          - DROME
          - EURE
          - EURE_ET_LOIR
          - FINISTERE
          - GARD
          - HAUTE_GARONNE
          - GERS
          - GIRONDE
          - HERAULT
          - ILLE_ET_VILAINE
          - INDRE
          - INDRE_ET_LOIRE
          - ISERE
          - JURA
          - LANDES
          - LOIR_ET_CHER
          - LOIRE
          - HAUTE_LOIRE
          - LOIRE_ATLANTIQUE
          - LOIRET
          - LOT
          - LOT_ET_GARONNE
          - LOZERE
          - MAINE_ET_LOIRE
          - MANCHE
          - MARNE
          - HAUTE_MARNE
          - MAYENNE
          - MEURTHE_ET_MOSELLE
          - MEUSE
          - MORBIHAN
          - MOSELLE
          - NIEVRE
          - NORD
          - OISE
          - ORNE
          - PAS_DE_CALAIS
          - PUY_DE_DOME
          - PYRENEES_ATLANTIQUES
          - HAUTES_PYRENEES
          - PYRENEES_ORIENTALES
          - BAS_RHIN
          - HAUT_RHIN
          - RHONE
          - LYON_METROPOLIS
          - HAUTE_SAONE
          - SAONE_ET_LOIRE
          - SARTHE
          - SAVOIE
          - HAUTE_SAVOIE
          - PARIS
          - SEINE_MARITIME
          - SEINE_ET_MARNE
          - YVELINES
          - DEUX_SEVRES
          - SOMME
          - TARN
          - TARN_ET_GARONNE
          - VAR
          - VAUCLUSE
          - VENDEE
          - VIENNE
          - HAUTE_VIENNE
          - VOSGES
          - YONNE
          - TERRITOIRE_DE_BELFORT
          - ESSONNE
          - HAUTS_DE_SEINE
          - SEINE_SAINT_DENIS
          - VAL_DE_MARNE
          - VAL_D_OISE
          - GUADELOUPE
          - MARTINIQUE
          - GUYANE
          - LA_REUNION
          - SAINT_PIERRE_ET_MIQUELON
          - MAYOTTE
          - SAINT_BARTHELEMY
          - SAINT_MARTIN
          - TERRES_AUSTRALES_ET_ANTARCTIQUES_FRANCAISES
          - WALLIS_ET_FUTUNA
          - POLYNESIE_FRANCAISE
          - NOUVELLE_CALEDONIE
          - ILE_DE_CLIPPERTON
          - MONACO
          type: string
        style: form
      - description: Applications whose main's applicant surname contains the value.
        example: Martinez
        explode: true
        in: query
        name: surname
        required: false
        schema:
          type: string
        style: form
      - description: Applications whose main's applicant doc id number equals to the
          value.
        example: 09605414Q
        explode: true
        in: query
        name: docIdNumber
        required: false
        schema:
          type: string
        style: form
      - description: Applications whose financial product type equals to the value.
        example: STANDARD
        explode: true
        in: query
        name: productType
        required: false
        schema:
          enum:
          - INTEREST_BEARING
          - ZERO_INTEREST
          - SUBSIDIZED_INTEREST
          - OPTION_PLUS
          - MULTIOPTION
          - LEASING
          - REFINANCING
          - BULLET
          - LOAN
          - SUBSCRIPTION
          - VARIABLE_RATE
          - RENTING
          - PROMOTION
          - STANDARD
          - BNPL
          - KIA_FLEXIBLE_RANGE_FINANCE
          - KIA_KREDIT
          - KIA_PROTECCION_CLIENTE
          - KIA_FLEXIPLAN
          type: string
        style: form
      - description: Applications whose code associated to the good/service sold equals
          to the value.
        example: ELECTRONICS
        explode: true
        in: query
        name: goodsType
        required: false
        schema:
          type: string
        style: form
      - description: Applications whose pre-approval date is after the date will be
          returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: fromPreapprovalDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose pre-approval date is prior to the date will
          be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: untilPreapprovalDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose approval date is after the date will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: fromApprovalDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose approval date is prior to the date will be
          returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: untilApprovalDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose docs submission date is after the date will
          be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: fromDocsSubmissionDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose docs submission date is prior to the date
          will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: untilDocsSubmissionDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose payout date is after the date will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: fromPayoutDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose payout date is prior to the date will be returned.
        example: 2017-07-21T17:32:28Z
        explode: true
        in: query
        name: untilPayoutDate
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Applications whose selected offer term equals to the value.
        example: 6
        explode: true
        in: query
        name: term
        required: false
        schema:
          type: string
        style: form
      - description: Applications whose selected offer product type equals to the
          value.
        example: INTEREST_BEARING
        explode: true
        in: query
        name: feeType
        required: false
        schema:
          enum:
          - INTEREST_BEARING
          - ZERO_INTEREST
          - SUBSIDIZED_INTEREST
          - OPTION_PLUS
          - MULTIOPTION
          - LEASING
          - REFINANCING
          - BULLET
          - LOAN
          - SUBSCRIPTION
          - VARIABLE_RATE
          - RENTING
          - PROMOTION
          - STANDARD
          - BNPL
          - KIA_FLEXIBLE_RANGE_FINANCE
          - KIA_KREDIT
          - KIA_PROTECCION_CLIENTE
          - KIA_FLEXIPLAN
          type: string
        style: form
      - description: Applications whose selected offer loan amount is greater or equal
          than the value.
        example: 1000.99
        explode: true
        in: query
        name: fromLoanAmount
        required: false
        schema:
          type: number
        style: form
      - description: Applications whose selected offer loan amount is lower or equal
          than the value.
        example: 1000.99
        explode: true
        in: query
        name: untilLoanAmount
        required: false
        schema:
          type: number
        style: form
      responses:
        "400":
          content:
            application/json:
              example:
                httpStatusCode: 400
                message: The payload was not present or malformed
                detailedMessage: null
                errorCode: BAD_REQUEST
                validationErrors:
                - fieldName: "applicants[0].docIdNumber"
                  message: The value Z7328559M is not a valid NIF
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: The request was malformed
        "404":
          content:
            application/json:
              example:
                httpStatusCode: 404
                message: The resource you requested was not found
                detailedMessage: The Merchant with code MER_01 does not exist
                errorCode: RESOURCE_NOT_FOUND
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found
        "403":
          content:
            application/json:
              example:
                httpStatusCode: 403
                message: You have insufficient privileges to perform this operation
                detailedMessage: You are not allowed to access the Merchant resource
                errorCode: FORBIDDEN
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: Forbidden
        "500":
          content:
            application/json:
              example:
                httpStatusCode: 500
                message: "Unexpected error occurred, check the detailedMessage field"
                detailedMessage: Something went wrong while creating the Applicant
                errorCode: UNEXPECTED_ERROR
                validationErrors: null
                errorId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              schema:
                $ref: '#/components/schemas/Error'
          description: An unexpected error has occurred
        "200":
          content:
            application/json:
              examples:
                Standard pagination:
                  description: Standard pagination
                  value:
                    data:
                    - id: ff3fda14-c182-40f9-abda-b50e7dd62cb2
                      applicants:
                      - id: fa491d5d-f58a-4f2d-a48f-b81200fd3117
                        role: MAIN_APPLICANT
                        docIdType: NATIONAL_ID
                        docIdType2: FOREIGN_ID
                        docIdNumber: 97314961Y
                        docIdNumber2: 97314961Z
                        title: SR_SRA
                        firstName: Test
                        surname1: Applicant
                        surname2: Api
                        nationalityIso: ES
                        nationality: SPAIN
                        nationality2: SPAIN
                        paymentMethod: CCC
                        accountNumber: ES2714**************5725
                        email: applicant@test.com
                        socialSecurityNumber: "123456"
                      merchant:
                        code: dc61c1bf-b609-45a1-85b8-6375695f6956
                        user: test_api_user
                        redirectAfterScoring: false
                        emailAfterScoring: false
                      order:
                        goodsType: 1670633c-9151-4630-875b-0e1e3663f139
                        serviceDuration: EIGHTEEN_TO_TWENTY_FOUR_MONTHS
                        reference: ABCD
                        purchaseAmount: "1500.00"
                      loanDetails:
                        requestedAmount: "1500.00"
                        term: 12
                        productType: INTEREST_BEARING
                        openingFeePct: "0.00000000"
                        feePaymentType: FINANCED
                        gracePeriod: 2
                        insurance: true
                        noAccount: false
                        applicantType: PERSONAL
                      sendLeadEmail: false
                      phoneValidationRequired: false
                      signatureDisabled: false
                      managedBy: AGENT
                      readableId: 38768148
                      applicationUiUrl: test/application/ff3fda14-c182-40f9-abda-b50e7dd62cb2
                      creationDate: 2024-02-08T09:11:40.605298Z
                      createdViaApi: true
                      state: APPROVED
                      selectedOffer:
                        id: 74c85a46-0631-4401-ab19-ac6d34a9ae98
                        lender: CAJAMAR
                        submissionOrder: 0
                        approvalDate: 2022-09-01T17:32:28Z
                        docsSubmitted: false
                        loanAmount: "3000.00"
                        gracePeriod: 0
                        insurance: false
                        partialReturns: []
                      source: API
                    meta:
                      total: 1
                      nextPageToken: null
                      hasMore: false
                Cursor pagination:
                  description: Cursor pagination
                  value:
                    data:
                    - id: ff3fda14-c182-40f9-abda-b50e7dd62cb2
                      applicants:
                      - id: fa491d5d-f58a-4f2d-a48f-b81200fd3117
                        role: MAIN_APPLICANT
                        docIdType: NATIONAL_ID
                        docIdType2: FOREIGN_ID
                        docIdNumber: 97314961Y
                        docIdNumber2: 97314961Z
                        title: SR_SRA
                        firstName: Test
                        surname1: Applicant
                        surname2: Api
                        nationalityIso: ES
                        nationality: SPAIN
                        nationality2: SPAIN
                        paymentMethod: CCC
                        accountNumber: ES2714**************5725
                        email: applicant@test.com
                        socialSecurityNumber: "123456"
                      merchant:
                        code: dc61c1bf-b609-45a1-85b8-6375695f6956
                        user: test_api_user
                        redirectAfterScoring: false
                        emailAfterScoring: false
                      order:
                        goodsType: 1670633c-9151-4630-875b-0e1e3663f139
                        serviceDuration: EIGHTEEN_TO_TWENTY_FOUR_MONTHS
                        reference: ABCD
                        purchaseAmount: "1500.00"
                      loanDetails:
                        requestedAmount: "1500.00"
                        term: 12
                        productType: INTEREST_BEARING
                        openingFeePct: "0.00000000"
                        feePaymentType: FINANCED
                        gracePeriod: 2
                        insurance: true
                        noAccount: false
                        applicantType: PERSONAL
                      sendLeadEmail: false
                      phoneValidationRequired: false
                      signatureDisabled: false
                      managedBy: AGENT
                      readableId: 38768148
                      applicationUiUrl: test/application/ff3fda14-c182-40f9-abda-b50e7dd62cb2
                      creationDate: 2024-02-08T09:11:40.605298Z
                      createdViaApi: true
                      state: APPROVED
                      selectedOffer:
                        id: 74c85a46-0631-4401-ab19-ac6d34a9ae98
                        lender: CAJAMAR
                        submissionOrder: 0
                        approvalDate: 2022-09-01T17:32:28Z
                        docsSubmitted: false
                        loanAmount: "3000.00"
                        gracePeriod: 0
                        insurance: false
                        partialReturns: []
                      source: API
                    meta:
                      nextPageToken: MjAxNy0wNy0yMVQxNzozMjoyOFpfMmRiMzJkNjMtOTUzNS00ZjRiLTg1MDItZjhiOGRhNTU2YmE3
                      hasMore: true
              schema:
                $ref: '#/components/schemas/ApplicationApiSearchResponse'
          description: Applications recovered successfully
        "401":
          content:
            application/json:
              example: "{\n  \"httpStatusCode\": 401,\n  \"message\": \"The API-KEY\
                \ header was not found\",\n  \"detailedMessage\": null,\n  \"errorCode\"\
                : \"API_KEY_NOT_FOUND\",\n  \"validationErrors\": null \n  \"errorId\"\
                : \"3fa85f64-5717-4562-b3fc-2c963f66afa6\"\n}"
              schema:
                $ref: '#/components/schemas/Error'
          description: "You are not authorized, please check your API-KEY"
      summary: Search applications
      tags:
      - Application
      x-accepts:
      - application/json
    post:
      callbacks:
        Event notification:
          $request.body#/merchant/events/eventsURL:
            post:
              operationId: eventNotificationRequestBodyMerchantEventsEventsURLPost
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ApplicationEvent'
              responses: {}
              x-callback-request: true
      operationId: createApplication
      requestBody:
        content:
          application/json:
            example:
              applicants:
              - role: MAIN_APPLICANT
                docIdType: NATIONAL_ID
                docIdType2: EU_RESIDENCE_CARD
                docIdNumber: 50726711G
                docIdNumber2: "297708325"
                title: SR_SRA
                firstName: Ana
                surname1: Martínez
                surname2: Sánchez
                birthDate: 1990-06-19
                nationality: SPAIN
                nationality2: PORTUGAL
                accountNumber: ES7420589288659524800210
                email: ana_sanchez@gmail.com
                socialSecurityNumber: 000-00-0000
                phoneType1: LANDLINE
[...]
